<template>

        <v-alert type="success">
            I'm a success alert.
        </v-alert>
</template>

<script>
    export default {
       //mixins: [mixin],
        //components: {FieldInput},
    }
</script>
