<template>
    <div class="page">
        <waiter v-if="requestStatus === REQUEST_STATUS__PUSH"/>
        <slot v-if="requestStatus === REQUEST_STATUS__SUCCESS" />
        <errors v-if="requestStatus === REQUEST_STATUS__ERROR" :errors="errors"/>
    </div>
</template>

<script>
    import Errors from "../general/Errors";
    import Waiter from "../general/Waiter";
    import {REQUEST_STATUS__PUSH, REQUEST_STATUS__ERROR, REQUEST_STATUS__SUCCESS} from "../../mixins/forms/main";

    export default {
        props: {
            requestStatus: {
                type: Number,
                required: true
            },
            errors: {
                type: Array,
                required: true
            }
        },

        data: function () {
            return {
                REQUEST_STATUS__PUSH,
                REQUEST_STATUS__ERROR,
                REQUEST_STATUS__SUCCESS
            }
        },

        components: {
            Errors, Waiter
        }
    }
</script>
