<template>
    <one-column-template>
       Добро пожаловать!
    </one-column-template>
</template>

<script>
    import OneColumnTemplate from "../layouts/main/OneColumnTemplate";

    export default {
        components: {
            OneColumnTemplate
        },
        created() {
            //this.initialize()
            // axios.post('auth')
            //     .then(result => {
            //
            //     })
            //     .catch(errors => {
            //
            //     })
        },
    }
</script>
