<template>
    <page :requestStatus='requestStatus' :errors="errors">
        <div class="profile">
            <div class="h1">Личная информация</div>
            <div class="profile-container">
                <div class="profile__main">
                    <div class="profile__left-side">
                        <div class="block-inputs">
                            <div class="profile__avatar">
                                <field-avatar :avatar="avatar"/>
                            </div>
                            <field-input-text :field="personalFieldsForm.name"/>
                            <field-input-text :field="personalFieldsForm.email"/>
                            <field-input-phone :field="personalFieldsForm.phone"/>
                        </div>
                        <div class="block-inputs">
                            <div class="h2">Сменить пароль</div>
                            <field-input-password :field="changePasswordForm.oldPassword"/>
                            <field-input-password :field="changePasswordForm.newPassword"/>
                            <field-input-password :field="changePasswordForm.newPassword_confirmation"/>
                        </div>
                        <div class="profile__password">
                            <button class="big profile__password-button" @click="requestPassword">Сохранить</button>
                            <div class="profile__password-text-and-mail">
                                <span class="profile__password-text">Вопросы? Пишите на</span> <a
                                class="profile__password-mail" href="mailto:help@keymap.ru"> help@keymap.ru</a>
                            </div>
                        </div>
                    </div>
                    <div class="profile__center-side"></div>
                    <div class="profile__right-side">
                        <div class="block-inputs">
                            <div class="h2">Социальные сети</div>
                            <field-bind :image="this.getUrlImage1('icon_gos.jpg')"
                                        :name="'Госуслуги'"
                                        :urlRequest="this.urlProfile('binding/government-services')"
                                        :urlRequestCancel="this.urlProfile('binding/government-services/cancel')"/>
                            <field-bind :image="this.getUrlImage1('icon_fb.jpg')"
                                        :name="'Facebook'"
                                        :urlRequest="this.urlProfile('binding/fb')"
                                        :urlRequestCancel="this.urlProfile('binding/fb/cancel')"/>
                            <field-bind :image="this.getUrlImage1('icon_vk.jpg')"
                                        :name="'Вконтакте'"
                                        :urlRequest="this.urlProfile('binding/vk')"
                                        :urlRequestCancel="this.urlProfile('binding/vk/cancel')"/>
                            <field-bind :image="this.getUrlImage1('icon_inst.jpg')"
                                        :name="'Instagram'"
                                        :urlRequest="this.urlProfile('binding/instagram')"
                                        :urlRequestCancel="this.urlProfile('binding/instagram/cancel')"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </page>
</template>

<script>
    import FieldInputText from "../general/form/solofield/FieldInputText";
    import FieldInputPhone from "../general/form/solofield/FieldInputPhone";
    import FieldInputPassword from "../general/form/standart/FieldInputPassword";
    import FieldBind from "../general/form/bindingfield/FieldBind";
    import FieldAvatar from "../general/form/other/FieldAvatar";
    import {form as formSoloField} from "../../mixins/forms/solofield/form";
    import {form as formStandart} from "../../mixins/forms/standart/form";
    import {CHANGE_USER_FIELD, USER_DATA} from "../../store/modules/user/index";
    import {
        FIELD_STATUS__NO_VALIDATE,
        REQUEST_STATUS__ERROR,
        REQUEST_STATUS__PUSH,
        REQUEST_STATUS__SUCCESS
    } from "../../mixins/forms/main";
    import Page from "./Page";
    import {checkFileImage} from "../../helpers/form";
    import {getAbsoluteUrl} from "../../helpers/general";

    export default {
        data: function () {
            return {
                url: "",
                userId: 0,
                requestStatus: REQUEST_STATUS__PUSH,
                errors: [],
                avatar: {
                    url: this.getUrlDefaultImage(),
                    file: null,
                    errors: [],
                    validator: this.changeAvatar
                },
                personalFieldsForm: {
                    name: this.createSoloField('Имя', this.validatorName, this.requestName),
                    email: this.createSoloField('Почта', this.validatorEmail, this.requestEmail),
                    phone: this.createSoloField('8(952)100-71-14', this.validatorPhone, this.requestPhone),
                },
                changePasswordForm: {
                    oldPassword: this.createFieldForm('Старый пароль', this.validatorOldPassword),
                    newPassword: this.createFieldForm('Новый пароль', this.validatorNewPassword),
                    newPassword_confirmation: this.createFieldForm('Новый пароль снова', this.validatorNewPasswordConfirmation),
                }
            }
        },

        mixins: [formSoloField, formStandart],

        components: {
            FieldInputText, FieldInputPassword, FieldInputPhone, FieldBind, Page, FieldAvatar
        },

        inject: ['getAbsoluteUrl', 'getUrlDefaultImage', 'getUrlImage1'],

        mounted: function () {
            let $this = this;
            $this.userId = this.$store.getters.USER_DATA.id;
            $this.url = $this.urlProfile('get-profile');
            axios.post($this.url, $this.urlParams)
                .then(result => result.data)
                .then(result => {
                    let personalFieldsFormClone = {...$this.personalFieldsForm};
                    $this.requestStatus = REQUEST_STATUS__SUCCESS;
                    $this.avatar.url = result.avatar;
                    personalFieldsFormClone.name.value = result.name;
                    personalFieldsFormClone.email.value = result.email;
                    personalFieldsFormClone.phone.value = result.phone;
                    $this.personalFieldsForm = personalFieldsFormClone;
                })
                .catch(errors => {
                    $this.requestStatus = REQUEST_STATUS__ERROR;
                    if (errors.response.data.errors) $this.errors = errors.response.data.errors;
                    else if (errors.response.data.message) $this.errors = $this.errors = [errors.response.data.message];
                    else $this.errors = ['Произошла ошибка сервера! Перезагрузите страницу.'];
                    console.log($this.errors);
                })
        },

        methods: {
            urlProfile(url, relative = false) {
                url = 'profile/' + this.userId + '/' + url;
                if (relative) return url;
                return this.getAbsoluteUrl(url);
            },
            createSoloField(placeholder, validator, request) {
                return {
                    value: '',
                    edit: false,
                    placeholder,
                    validateStatus: FIELD_STATUS__NO_VALIDATE,
                    frontendErrors: [],
                    backendErrors: [],
                    validator,
                    request
                }
            },
            createFieldForm(placeholder, validator) {
                return {
                    value: '',
                    placeholder,
                    frontendErrors: [],
                    backendErrors: [],
                    validateStatus: FIELD_STATUS__NO_VALIDATE,
                    validator
                }
            },

            validatorName(value) {
                let $this = this;
                this.personalFieldsForm.name = this.changeFieldWithValidate(this.personalFieldsForm.name, value, (field) => {
                    $this.validateFieldRequired(field);
                    $this.validateTextFieldMinLength(field, 2);
                    $this.validateTextFieldMaxLength(field, 15);
                });
            },
            requestName() {
                let $this = this;
                this.validatorName(this.personalFieldsForm.name.value);
                this.requestField(this.personalFieldsForm, 'name', this.urlProfile('save-name'), () => {
                    $this.$store.commit(CHANGE_USER_FIELD, {
                        fieldName: 'name',
                        value: this.personalFieldsForm.name.value
                    });
                });
            },

            validatorEmail(value) {
                let $this = this;
                this.personalFieldsForm.email = this.changeFieldWithValidate(this.personalFieldsForm.email, value, (field) => {
                    $this.validateFieldRequired(field);
                    $this.validateTextFieldMinLength(field, 5);
                    $this.validateTextFieldMaxLength(field, 40);
                    $this.validateFieldEmail(field);
                });
            },
            requestEmail() {
                this.validatorEmail(this.personalFieldsForm.email.value);
                let $this = this;
                this.requestField(this.personalFieldsForm, 'email', this.urlProfile('save-email'), () => {
                    $this.$store.commit(CHANGE_USER_FIELD, {
                        fieldName: 'email',
                        value: $this.personalFieldsForm.email.value
                    });
                });
            },

            changeAvatar(event) {
                let avatarFile = event.target.files[0];

                if (avatarFile == undefined) return false;

                let $this = this;
                let avatarClone = {...$this.avatar};
                avatarClone.errors = [];
                avatarClone.file = avatarFile;

                ///errors
                if (avatarClone.file.size > 1000000) {
                    avatarClone.errors.push('Файл должен весить 1мб или меньше');
                }

                if (checkFileImage(avatarClone.file) == false) {
                    avatarClone.errors.push('Файл не является картинкой');
                } else {
                    var reader = new FileReader;
                    reader.readAsDataURL(avatarClone.file);
                    reader.onload = function (e) {
                        var img = new Image();
                        avatarClone.url = e.target.result;
                        img.src = e.target.result;
                        ;
                        img.onload = function () {
                            let w = img.width;
                            let h = img.height;
                            if (w > 200 || h > 200) avatarClone.errors.push('Картинка должна быть не больше размеров 200x200');
                        }
                    };

                }
                /////
                $this.avatar = avatarClone;

                if (avatarClone.errors.length == 0) {
                    let formData = new FormData();
                    formData.append('avatar', avatarFile);
                    axios.post(this.urlProfile('change-avatar'), formData)
                        .then(result => {
                            $this.$store.commit(CHANGE_USER_FIELD, {fieldName: 'avatar', value: avatarClone.url});
                        })
                        .catch(errors => {
                            let avatarClone = {...$this.avatar};

                            if (errors.response.data.errors) avatarClone.errors.push.concat(errors.response.data.errors.avatar);
                            else avatarClone.errors = ['Произошла ошибка сервера! Перезагрузите страницу.'];

                            $this.avatar = avatarClone;
                        })
                }
            },

            validatorPhone(value) {
                let $this = this;
                this.personalFieldsForm.phone = this.changeFieldWithValidate(this.personalFieldsForm.phone, value, (field) => {
                    $this.validateFieldRequired(field);
                    $this.validateFieldPhone(field);
                });
            },
            requestPhone() {
                this.validatorPhone(this.personalFieldsForm.phone.value);
                let $this = this;
                this.requestField(this.personalFieldsForm, 'phone', this.urlProfile('save-phone'), () => {
                    $this.$store.commit(CHANGE_USER_FIELD, {
                        fieldName: 'phone',
                        value: $this.personalFieldsForm.phone.value
                    });
                });
            },

            validatorOldPassword(value) {
                let $this = this;
                this.changePasswordForm.oldPassword = this.changeFieldWithValidate(this.changePasswordForm.oldPassword, value, (field) => {
                    $this.validateFieldRequired(field);
                    $this.validateTextFieldMinLength(field, 6);
                    $this.validateTextFieldMaxLength(field, 10);
                });
            },

            validatorNewPassword(value) {
                let $this = this;
                this.changePasswordForm.newPassword = this.changeFieldWithValidate(this.changePasswordForm.newPassword, value, (field) => {
                    $this.validateFieldRequired(field);
                    $this.validateTextFieldMinLength(field, 6);
                    $this.validateTextFieldMaxLength(field, 10);
                    $this.validateFieldPasswordConfirm(field, this.changePasswordForm.newPassword_confirmation.value);
                });
                this.changePasswordForm.newPassword_confirmation = this.changeFieldWithValidate(
                    this.changePasswordForm.newPassword_confirmation,
                    this.changePasswordForm.newPassword_confirmation.value,
                    (field) => {
                        $this.validateFieldPasswordConfirm(field, this.changePasswordForm.newPassword.value);
                    });
            },

            validatorNewPasswordConfirmation(value) {
                let $this = this;
                this.changePasswordForm.newPassword_confirmation = this.changeFieldWithValidate(this.changePasswordForm.newPassword_confirmation, value, (field) => {
                    $this.validateFieldRequired(field);
                    $this.validateTextFieldMinLength(field, 6);
                    $this.validateTextFieldMaxLength(field, 10);
                    $this.validateFieldPasswordConfirm(field, this.changePasswordForm.newPassword.value);
                });
                this.changePasswordForm.newPassword = this.changeFieldWithValidate(
                    this.changePasswordForm.newPassword,
                    this.changePasswordForm.newPassword.value,
                    (field) => {
                        $this.validateFieldPasswordConfirm(field, this.changePasswordForm.newPassword_confirmation.value);
                    });
            },

            validatorPasswordForm() {
                this.validatorOldPassword(this.changePasswordForm.oldPassword.value);
                this.validatorNewPassword(this.changePasswordForm.newPassword.value);
                this.validatorNewPasswordConfirmation(this.changePasswordForm.newPassword_confirmation.value);
            },

            requestPassword() {
                this.requestForm('changePasswordForm', this.urlProfile('save-password', true), this.validatorPasswordForm);
            },
        }
    }
</script>
