<template>
    <div>
        <div class="header-content-pc">
            <template v-if="user">
                <span v-if="countDaysEndSubscription > 0" class="header-number">{{countDaysEndSubscription}}</span>
                <div class="dropdown">
                    <button @click="changeUserMenu" class="user-select">
                        <img :src="avatar" :alt="name">
                    </button>
                    <div v-if="userMenu" class="dropdown-content">
                        <div class="dropdown-links">
                            <a href="#" class="dropdonw-adress">Мои объявления</a>
                            <a href="#" class="dropdown-heart">Избранное - {{countFavorites}}</a>
                            <a href="#" class="dropdown-check">
                                Мои подписки
                                <span>Осталось {{countDaysEndSubscription}} дней</span>
                            </a>
                        </div>
                        <div class="user-menu">
                            <div class="user-select">
                                <a :href="urlUserProfile()"><img :src="avatar"></a>
                            </div>
                            <div class="user-menu__txt">
                                <p>Вы вошли как</p>
                                <p>{{emailOrPhone}}</p>
                                <a @click.prevent="modalProfile" href="">Данные профиля</a>
                                <a :href="getAbsoluteUrl('logout')">Выход</a>
                            </div>
                        </div>
                    </div>
                </div>
            </template>
            <template v-else>
                <a class="login-link" :href="getAbsoluteUrl('login')" title="Войти"
                   @click.prevent="modalLogin">Войти</a>
            </template>
        </div>

        <button class="open-nav" @click.prevent="changeShowMenuMobile(true)"></button>

        <user-header-mobile :style="showMenuMobile ? 'right: 0px' : 'right: -400px'"/>
        <div :class="'overlay ' + (showMenuMobile ? 'open' : '')"></div>

        <user-header-aut-register v-if="checkModalLogin" title="Вход" buttonText="Войти" url-by-email="login-by-email"
                                  url-by-phone="login-by-phone">
            <template v-slot:title-text>
                Вы здесь первые? Сначала <a @click.prevent="modalRegister">зарегестрируйтесь</a>
            </template>
            <template v-slot:additional-mail-text>
                Не помните пароль? Не беда – давайте <a @click.prevent="modalPasswordRecovery"
                                                        :href="getAbsoluteUrl('password-recovery')">восстановим</a>
            </template>
        </user-header-aut-register>

        <user-header-aut-register v-if="checkModalRegister" title="Регистрация" buttonText="Зарегистрироваться"
                                  url-by-email="register-by-email" url-by-phone="register-by-phone">
            <template v-slot:title-text>
                Вы уже были тут? Тогда <a @click.prevent="modalLogin">зайдите</a>
            </template>
            <template v-slot:button-text>
                <div class="modal-form-text modal-form-text-terms">
                    Регистрируясь, вы принимаете условия <br>
                    <a :href="getAbsoluteUrl('terms-of-use')" title="пользовательского соглашения">пользовательского
                        соглашения</a>
                    <span> и соглашаетесь на </span>
                    <a :href="getAbsoluteUrl('personal-data-processing')" title="обработку ваших персональных данных">
                        обработку ваших персональных данных
                    </a>
                </div>
            </template>
        </user-header-aut-register>

        <user-header-password-recovery v-if="checkModalPasswordRecovery"/>

        <user-header-password-recovery-confirm v-if="checkModalPasswordRecoveryConfirm"/>

        <user-header-profile v-if="checkModalProfile"/>

        <div v-if="overlay" class="overlay-modal"></div>
    </div>
</template>

<script>
    import {
        HEADER_MODAL_LOGIN,
        HEADER_MODAL_PASSWORD_RECOVERY,
        HEADER_MODAL_PROFILE,
        HEADER_MODAL_REGISTER,
        HEADER_MODAL_CONFIRM_PASSWORD_RECOVERY
    } from './constants';
    import UserHeaderMobile from "./UserHeaderMobile";
    import UserHeaderAutRegister from "./modal/UserHeaderAutRegister";
    import UserHeaderPasswordRecovery from "./modal/UserHeaderPasswordRecovery";
    import UserHeaderPasswordRecoveryConfirm from "./modal/UserHeaderPasswordRecoveryConfirm";
    import UserHeaderProfile from "./modal/UserHeaderProfile";
    import {getAbsoluteUrl} from "../../helpers/general";

    export default {
        data: function () {
            return {
                user: null,
                modal: null,
                showMenuMobile: false,
                userMenu: false,
                overlay: false
            }
        },

        components: {
            UserHeaderAutRegister,
            UserHeaderMobile,
            UserHeaderPasswordRecovery,
            UserHeaderProfile,
            UserHeaderPasswordRecoveryConfirm
        },

        inject: ['getData', 'getAbsoluteUrl'],

        mounted() {
            let data = this.getData();
            this.user = this.$store.getters.USER_DATA;
            if (this.user == null) {
                switch (data.pageRouteNameForOpenModal) {
                    case 'login-page':
                        this.modalShow(HEADER_MODAL_LOGIN);
                        break;
                    case 'registration-page':
                        this.modalShow(HEADER_MODAL_REGISTER);
                        break;
                    case 'recovery-password-page':
                        this.modalShow(HEADER_MODAL_PASSWORD_RECOVERY);
                        break;
                    case 'recovery-password-confirmation-page':
                        this.modalShow(HEADER_MODAL_CONFIRM_PASSWORD_RECOVERY);
                        break;
                }
            }
        },

        provide: function () {
            return {
                changeShowMenuMobile: this.changeShowMenuMobile,
                modalLogin: this.modalLogin,
                modalRegister: this.modalRegister,
                modalProfile: this.modalProfile,
                modalClose: this.modalClose,
                urlUserProfile: this.urlUserProfile
            };
        },

        computed: {
            checkModalLogin: function () {
                return this.modal == HEADER_MODAL_LOGIN;
            },
            checkModalRegister: function () {
                return this.modal == HEADER_MODAL_REGISTER;
            },
            checkModalProfile: function () {
                return this.modal == HEADER_MODAL_PROFILE;
            },
            checkModalPasswordRecovery: function () {
                return this.modal == HEADER_MODAL_PASSWORD_RECOVERY;
            },

            checkModalPasswordRecoveryConfirm: function () {
                return this.modal == HEADER_MODAL_CONFIRM_PASSWORD_RECOVERY;
            },

            emailOrPhone: function () {
                return this.$store.getters.USER_DATA.phone ? this.$store.getters.USER_DATA.phone : this.$store.getters.USER_DATA.email;
            },
            avatar: function () {
                return this.$store.getters.USER_DATA.avatar;
            },
            countFavorites: function () {
                return this.$store.getters.USER_DATA.countFavorites;
            },
            countDaysEndSubscription: function () {
                return this.$store.getters.USER_DATA.countDaysEndSubscription;
            },
            name: function () {
                return this.$store.getters.USER_DATA.name;
            },
        },

        methods: {
            urlUserProfile() {
                return this.user ? getAbsoluteUrl('profile/' + this.user.id) : '';
            },
            modalShow(modalValue) {
                this.overlay = true;
                this.modal = modalValue;
                this.userMenu = false;
            },
            modalClose() {
                this.overlay = false;
                this.modal = null;
            },
            modalLogin() {
                this.modalShow(HEADER_MODAL_LOGIN);
            },
            modalRegister() {
                this.modalShow(HEADER_MODAL_REGISTER);
            },
            modalProfile() {
                this.modalShow(HEADER_MODAL_PROFILE);
            },
            modalPasswordRecovery() {
                this.modalShow(HEADER_MODAL_PASSWORD_RECOVERY);
            },
            changeShowMenuMobile(value) {
                this.showMenuMobile = value;
            },
            changeUserMenu() {
                this.userMenu = !this.userMenu;
            }
        }
    }
</script>
