<template>
    <div class="wrap-nav open mobile-menu-list">
        <button class="close-nav" @click="changeShowMenuMobile(false)"></button>

        <nav>
            <ul class="menu">
                <li><a :href="getAbsoluteUrl('login')">Найти квартиру</a></li>
                <li><a :href="getAbsoluteUrl('login')">На карте</a></li>
                <li><a :href="getAbsoluteUrl('login')"><span>Личный помощник</span></a></li>
                <template v-if="user === null">
                    <li><a :href="getAbsoluteUrl('login')" @click.prevent="modalLogin">Войти</a></li>
                    <li><a :href="getAbsoluteUrl('registration')" @click.prevent="modalRegister">Регистрация</a></li>
                </template>
            </ul>
        </nav>
        <div class="wrap-nav--content">
            <a :href="getAbsoluteUrl('rooms/create')" class="header-btn">Сдать недвижимость</a>
            <div class="header-user" v-if="user">
                <span v-if="countDaysEndSubscription > 0" class="header-number">{{countDaysEndSubscription}}</span>
                <div class="dropdown">
                    <button class="user-select">
                        <img :src="avatar">
                    </button>
                    <div class="dropdown-content">
                        <div class="dropdown-links">
                            <a :href="getAbsoluteUrl('my-announcements')" class="dropdonw-adress">Мои объявления</a>
                            <a :href="getAbsoluteUrl('favorites')" class="dropdown-heart">Избранное -
                                {{countFavorites}}</a>
                            <a :href="getAbsoluteUrl('my-subscriptions')" class="dropdown-check">
                                Мои подписки
                                <span>Осталось {{countDaysEndSubscription}} дней</span>
                            </a>
                        </div>
                        <div class="user-menu">
                            <div class="user-select">
                                <a :href="urlUserProfile()"><img :src="avatar"></a>
                            </div>
                            <div class="user-menu__txt">
                                <p>Вы вошли как</p>
                                <p>{{emailOrPhone}}</p>
                                <a href="" @click.prevent="modalProfile">Данные профиля</a>
                                <a :href="getAbsoluteUrl('logout')">Выход</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        inject: ['getAbsoluteUrl', 'changeShowMenuMobile', 'modalLogin', 'modalRegister', 'modalProfile', 'urlUserProfile'],
        computed: {
            user: function () {
                return this.$store.getters.USER_DATA;
            },
            emailOrPhone: function () {
                return this.$store.getters.USER_DATA.phone ? this.$store.getters.USER_DATA.phone : this.$store.getters.USER_DATA.email;
            },
            avatar: function () {
                return this.$store.getters.USER_DATA.avatar;
            },
            countFavorites: function () {
                return this.$store.getters.USER_DATA.countFavorites;
            },
            countDaysEndSubscription: function () {
                return this.$store.getters.USER_DATA.countDaysEndSubscription;
            },
            name: function () {
                return this.$store.getters.USER_DATA.name;
            },
        },
    }
</script>
