// Colors
$grecy_special: rgba(0, 0, 0, 0.1);
$grey: #666666;
$grey1: #a1a1a0;
$grey2_0: #a3a3a3;
$grey2_1: #bdbdbd;
$grey2_2: #b2b2b2;
$grey2_3: #d2d2d2;
$grey2: #cecece;
$grey3: #e3e3e3;
$grey4: #dddddd;
$fushia: #434b65;
$lfushia: #8e93a3;
$lgrey1: #d3d6db;
$lgrey2: #f4f4f4;
$lgrey3: #f2f2f2;
$green: #34a204;
$yellow: #fedb66;
$dark: #202023;
$dark2: #2b2b2b;
$dark3: #333333;
$ldark: #454545;
$white: white;
$orange: #fe6541;
$lorange: #ffa600;
$lorange2: #ffbd42;
$lorange3: #fedb66;
$darkBlue: #19104e;





