// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

//materialdesignicons
@import '~@mdi/font/css/materialdesignicons.min.css';

//vuetify
//@import '~vuetify/dist/vuetify.min.css';

////
@import "~vue-select/dist/vue-select.css";

@mixin round($property) {
    -webkit-border-radius: $property;
    -moz-border-radius: $property;
    border-radius: $property;
}

@mixin transition($x...) {
    -webkit-transition: $x;
    -moz-transition: $x;
    -ms-transition: $x;
    -o-transition: $x;
    transition: $x;
}

body {
    .my-container {
        a {
            color: $orange;
        }
    }
}

header {
    border-bottom: 1px solid $grecy_special;
}

input, select, textarea, button {
    outline: none;
    font-family: "Roboto", sans-serif;
}

.h1, .h2 {
    color: $fushia;
    font-size: 23px;
    font-weight: bold;
    line-height: 1;
    text-align: left;
    padding-top: 0.7rem;
    padding-bottom: 1.99rem;
    margin: 0px;
}

input {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -moz-appearance: none;
    -webkit-appearance: none;
    height: 50px;
    width: 100%;
    padding: 10px 16px 11px;
    border: 1px solid #bdbdbd;
    background-color: #fff;
    font-size: 1em;
    line-height: 1.467em;
    vertical-align: top;

    &-standart {

    }
}

input::placeholder {
    color: $grey2_0;
}

.pseudo-select {
    padding: 10px 16px 11px;
    border: 1px solid $grey4;
    @include round(3px);
    line-height: 1.467em;
    display: flex;
    align-items: center;
}

.field-rp input {
    padding-right: 50px;
}

.form-field__buttons, .form-field__container, .form-field__inside-element i {
    position: static;
}

.layout {
    overflow: hidden;
}

.theme--light.v-application {
    background: none;
}

.agreement {
    .crumbs {
        padding-top: 0px;
    }

    a {
        text-decoration: underline;
    }
}

.catalog-mobile-filters-button {
    display: none;
    position: fixed;
    bottom: 1%;
    left: 1%;
}

.range-two-input {
    &__switcher {
        position: relative;
        height: 10px;
        display: flex;
        align-items: center;
    }

    &__line {
        position: absolute;
        height: 1px;
        background: $lorange2;
        width: 100%;
    }

    &__circle {
        @include round(10px);
        border: 6px solid $lorange2;
        position: absolute;
        width: 19px;
        height: 19px;
        background: white;
        cursor: pointer;
    }

    &__fields {
        margin-top: 1.5rem;
    }

    &__fields, &__field {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__value {
        width: 82px;
        text-align: center;
        @include round(3px);
        border-color: $grey4;
    }

    &__text {
        margin-right: 1rem;
    }

    &__circle1 {
        left: 0px;
    }

    &__circle2 {
        right: 0px;
    }

    input {
        padding: 9px 5px 11px;
    }
}

.range-percent {
    height: 35px;

    &__switcher {
        position: relative;
        height: 10px;
        display: flex;
        align-items: center;
    }

    &__line {
        position: absolute;
        height: 1px;
        background: $lorange2;
        width: 100%;
    }

    &__circle {
        @include round(10px);
        border: 6px solid $lorange2;
        position: absolute;
        right: 0px;
        width: 19px;
        height: 19px;
        background: white;
        cursor: pointer;
    }

    &__value {
        position: absolute;
        right: 0px;
        top: 1.3rem;
        font-weight: 500;
    }
}

.container-two-line-blocks {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-two-line-block1, .container-two-line-block2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info-circle {
    @include round(20px);
    border: 3px solid $grey2_2;
    color: $grey2_2;
    padding: 0rem 7px;
    border-radius: 20px;
    font-size: 16px;
    margin-left: 8px;
    cursor: pointer;
}

.switcher {
    position: relative;
    display: flex;
    align-items: center;
    width: 31px;
    height: 9px;

    &-bg {
        position: absolute;
        background: $lgrey1;
        width: inherit;
        height: inherit;
        @include round(10px);
    }

    &-circle {
        @include round(10px);
        border: 6px solid $grey2_2;
        position: absolute;
        width: 19px;
        height: 19px;
        background: white;
        cursor: pointer;
        left: 0px;
    }
}

.switcher.on .switcher-bg {
    background: $lorange3;
}

.switcher.on .switcher-circle {
    border-color: $lorange2;
}

.faq-bg {
    background: url("../img/faq-bg.jpg") center no-repeat;
    background-size: cover;
}

.info-tab {
    padding: 1rem 0px;
    border-bottom: 1px solid $grecy_special;
    cursor: pointer;

    &__children {
        display: none;
    }

    &__child-title {
        font-size: 16px;
    }

    &__title {
        font-size: 16px;
        color: $dark2;
    }

    &__title.active {
        font-weight: bold;
        color: $fushia;
    }
}

.rental-faq-bg:before {
    background-color: white;
}

.down-triangle {
    border: 4px solid transparent;
    border-bottom: 7px solid $grey2_2;
    width: 8px;
    height: 11px;
}

.catalog {
    padding-bottom: 19rem;

    &__main {
        display: flex;
        justify-content: space-between;
    }

    &__filters-additionally {
        margin-top: 0rem;
        margin-bottom: 1.5rem;
        cursor: pointer;
    }

    &__filters {
        width: 23%;
        font-weight: 500;

        .pseudo-select, input {
            height: 47px;
        }
    }

    &__filters-area-and-floor {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__filters-area-and-floor-block {
        min-width: 39%;
    }

    &__filters-area-and-floor-block-inputs {
        display: flex;
        justify-content: space-between;
        align-items: center;

        input {
            padding: 0.5rem;
            width: 42px;
            height: 47px;
            @include round(5px);
        }
    }

    &__filters-range-percent {
        padding-bottom: 0.5rem;
        padding-top: 1rem;
    }

    &__filters-source {
        margin-bottom: 2rem;
    }

    &__filters-amenities, &__filters-features {
        margin-top: 2rem;

        .catalog__filters-title {
            margin-bottom: 1rem;
        }

        .catalog__filters-checkbox {
            margin-bottom: 10px;
            cursor: pointer;
        }

        .catalog__filters-checkbox-value {
            width: 18px;
            height: 18px;
            border: 1px solid $grey2_2;
            @include round(3px);
            margin-right: 1.5rem;
        }

        .check {
            opacity: 0;
        }

        .catalog__filters-checkbox {
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }
    }

    &__filters-title {
        color: $grey2_0;
        text-transform: uppercase;
        font-weight: normal;
        margin-bottom: 0.3rem;
        font-size: 12px;
    }

    &__filters-title2 {
        margin-bottom: 1rem;
    }

    &__filters-range-two-input {
        margin-bottom: 2rem;
    }

    &__filters-station-and-scheme {
        margin-bottom: 1.2rem;
    }

    &__filters-station {
        border-radius: 5px 5px 0px 0px;
        -moz-border-radius: 5px 5px 0px 0px;
        -webkit-border-radius: 5px 5px 0px 0px;
        border-color: $grey4;
        border-bottom: none;
    }

    &__filters-scheme {
        border-radius: 0px 0px 5px 5px;
        -moz-border-radius: 0px 0px 5px 5px;
        -webkit-border-radius: 0px 0px 5px 5px;
        border: 1px solid $grey4;
        display: flex;
        align-items: center;
        padding: 10px 16px 11px;
        cursor: pointer;

        &-icon {
            display: inline-block;
            margin-right: 1rem;
        }

        &-text {
            display: inline-block;
        }
    }

    &__filters-block {
        border: 1px solid $grey4;
        background: white;
        padding: 1rem;
    }

    &__filters-block {
        border-bottom: none;
    }

    &__filters-distance-and-select {
        margin-bottom: 1rem;
    }

    &__filters-apartments-and-rooms {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 2rem;

        div {
            width: 50%;
            text-align: center;
            cursor: pointer;
            padding: 1rem 1rem;
            border: 1px solid $grey4;
            height: 47px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        div.active {
            background: $yellow;
            color: white;
            border-color: $yellow;
        }
    }

    &__filters-button-apartments {
        border-radius: 5px 0px 0px 5px;
        -moz-border-radius: 5px 0px 0px 5px;
        -webkit-border-radius: 5px 0px 0px 5px;
        border-right: none !important;
    }

    &__filters-button-rooms {
        border-radius: 0px 5px 5px 0px;
        -moz-border-radius: 0px 5px 5px 0px;
        -webkit-border-radius: 0px 5px 5px 0px;
    }

    &__apartments {
        width: 76%;
        border: 1px solid $lgrey1;
        background: white;
    }

    &__type-list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;

        &-icon {
            display: block;
            width: 24px;
            height: 26px;
            margin-right: 0.6rem;
            fill: $yellow;
        }

        &-button {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 1rem;
            background: white;
            width: 50%;
            border-radius: 5px 0px 0px 5px;
            -moz-border-radius: 5px 0px 0px 5px;
            -webkit-border-radius: 5px 0px 0px 5px;
            border: 0px solid #000000;
            cursor: pointer;
        }

        &-button2 {
            border-radius: 0px 5px 5px 0px;
            -moz-border-radius: 0px 5px 5px 0px;
            -webkit-border-radius: 0px 5px 5px 0px;
            border: 0px solid #000000;
        }

        &-button.active {
            background: $yellow;
        }

        &-button.active &-icon {
            fill: white;
        }
    }

    &__panel {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-content div {
            display: inline-block;
            margin-right: 1rem;
            text-transform: lowercase;
        }

        &-text {
            font-weight: 500;
            margin-right: 1.8rem !important;
            text-transform: none !important;
        }

        &-sort-filters {

        }

        &-sort-filter {
            color: $grey2_0;
            cursor: pointer;
        }

        &-sort-filter.active {
            color: $white;
            background: $grey2_0;
            @include round(10px);
            border-radius: 5px;
            padding: 0.5rem;
        }
    }
}

.terms-text {
    ol {
        li:before {
            content: '- ';
            position: absolute;
            margin-left: -8px;
        }

        li {
            padding-left: 8px;
        }
    }
}

.breadcrumbs {
    line-height: 18px;
    color: $grey;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 14px;

    &-item {
        margin-right: 10px;
        padding-right: 12px;
        position: relative;
        display: inline;
    }

    &-link {
        -moz-transition: color .3s ease;
        -o-transition: color .3s ease;
        -webkit-transition: color .3s ease;
        transition: color .3s ease;
        color: inherit;
    }

    &-item:after {
        -moz-transform-origin: 50% 50%;
        -ms-transform-origin: 50% 50%;
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        content: "";
        width: 5px;
        height: 5px;
        border: 1px solid;
        position: absolute;
        top: .385em;
        right: 0;
    }

    &-item:last-child:after {
        display: none;
    }

    &-ink {
        -moz-transition: color .3s ease;
        -o-transition: color .3s ease;
        -webkit-transition: color .3s ease;
        transition: color .3s ease;
        color: inherit;
    }
}

.grey-bg {
    background: $lgrey2;
}

.avatar {
    input {
        display: none;
    }

    img {
        @include round(100px);
        width: 133px;
        height: 133px;
        cursor: pointer;
    }

    margin-bottom: 2rem;
}

.profile {
    padding-top: 0px;
    padding-bottom: 5rem;

    &-content {
        padding: 20px 0;
        background-color: #eee;
    }

    &__main {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__left-side {
        width: 45%;
    }

    &__center-side {
        width: 1px;
        background: $white;
        align-self: stretch;
    }

    &__right-side {
        width: 45%;
    }

    &__password {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &-button {

        }

        &-text-and-mail {

        }

        &-text {
            color: $grey2_0;
        }

        &-mail {

        }
    }
}

.field-binding {
    margin-bottom: 3rem;

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__left {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__right {
        display: flex;
        align-items: center;
        justify-content: space-between;

        button {
            height: 37px;
        }
    }

    &__container {

    }

    &__img {
        width: 55px;
        height: 55px;
        margin-right: 28px;
        display: block;
    }


    .check-block {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: $green;

        &__text {
            margin-right: 25px;
            margin-left: 6px;
        }

        &__icon {
            border: 2px solid $green;
            @include round(30px);
            padding: 3px;
        }
    }

    &__cancel {
        color: $grey;
        display: block;
        font-size: 20px;
        cursor: pointer;
    }

}

.v-alert {
    margin-top: 1rem;
}

button {
    background: $yellow;
    padding: 7px;
    color: $fushia;
    width: 166px;
    font-weight: bold;
    @include round(5px);
}

button.big {
    padding: 15px;
    width: 220px;
}

button.disable {
    background: $grey2;
}

.password-with-icon {
    display: flex;
    justify-content: space-between;
    align-items: center;

    i {
        position: absolute;
        right: 10px;
        color: $fushia;
    }
}

.field {
    position: relative;
    margin-bottom: 1rem;
}

.form-field {
    padding-right: 31px;
    position: relative;
    margin-bottom: 1rem;

    &:last-child {
        margin-bottom: 0px;
    }

    &__outer-element {
        position: absolute;
        right: 6px;
        top: 17px;
        color: $lgrey1;
    }

    .fa-times {
        font-size: 20px;
        top: 15px;
    }

    &__button-request {
        position: absolute;
        top: 7px;
        right: 38px;
        z-index: 1;
        height: 36px;
    }

    &__buttons i {
        cursor: pointer;
    }

    &__inside-element {
        position: absolute;
        top: 14px;
        right: 48px;
    }

    &__status-validate {
        border: 2px solid black;
        @include round(12px);
        font-size: 12px;
        width: 22px;
        height: 22px;
        display: flex;
        align-items: center;
        justify-content: center;

        &_success {
            border-color: $green;
            color: $green;
        }

        &_error {
            border-color: $orange;
            color: $orange;

            & > i {
                font-size: 15px !important;
            }

            //width: 26px;
        }
    }
}

.error {
    color: $orange;
    padding: 10px;
    padding-top: 0px;
}

.errors-container {
    padding-top: 10px;
}

.field-status-validate {
    &__success input {
        border-color: $green;
    }

    &__errors input {
        border-color: $orange;
    }
}

.login-link {
    color: $fushia;
}

.my-container .profile-panel {
    background: $grey3;
    white-space: nowrap;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 0px;
    }

    a {
        color: $grey;
        font-weight: bold;
    }

    &__left {
        a {
            padding-right: 1rem;

            &:last-child {
                padding-right: 0px;
            }
        }
    }

    &__right {
        padding-left: 2rem;

        .link-button {
            color: $white;
            padding: 10px 20px;
            margin-right: 1rem;
            display: inline-block;
            background: $ldark;
            @include round(5px);
        }
    }
}

.block-inputs {
    margin-bottom: 5rem;
}

.mini-block-inputs {
    margin-bottom: 3rem;
}

.user-select {
    background: none;

    img {
        @include round(22px);
    }
}

.form-request-success {
    color: $green;
}

.crumbs {
    padding-top: 4rem;
}

.my-container .breadcrumb a {
    color: $grey;
}

@media screen and (min-width: 320px) and (max-width: 1366px) {
    .container {
        padding-left: 10%;
        padding-right: 10%;
    }
}

@media screen and (max-width: 1200px) {
    .change-city-header {
        display: none;
    }
}

@media screen and (max-width: 1670px) {
    .return-btn {
        left: 22px;
    }
}

@media screen and (max-width: 1366px) {
    .welcome__wrap {
        padding-top: 71px;
    }
    .welcome {
        background-size: 100% 100%;
        height: auto;
    }
    .help {
        padding: 52px 0;
    }
    .offer {
        padding: 25px 0 55px;
    }
    .about-us {
        padding: 33px 0 78px;
    }
    .swiper_second-container .swiper-pagination {
        bottom: -30px;
    }
    .offer__wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 70px auto 0;
        max-width: 980px;
        flex-wrap: wrap;
        text-align: left;
    }
    .offer__wrap {
        margin: 15px auto 0;
    }
    .benefits {
        padding: 43px 0 43px;
    }
    .benefits__wrap {
        margin: 14px -10px 0;
    }
    .about-us__swiper {
        margin-top: 15px;
    }
    .menu > * + * {
        margin-left: 15px;
    }
    .menu a {
        font-size: 12px;
        font-weight: normal;
    }
    .welcome {
        height: auto;
        padding-bottom: 3rem;
    }
    .advantages {
        padding: 70px 0 0 0;
    }
    .advanteges__wrap {
        margin: 20px auto 0;
    }
    .advantages-title {
        padding: 17px 0;
    }
    .advantages-item {
        margin: 0 20px 50px;
    }
    .how-it-works {
        padding: 40px 0 150px;
    }
    .how__wrap {
        margin: 35px -90px 0;
    }
    .how-it-works {
        padding: 40px 0 113px;
    }
}

@media screen and (min-width: 1279px) and (max-width: 1024px) {

}

@media screen and (max-width: 1450px) {
    .profile__password {
        display: block;
    }

    .profile__password-text-and-mail {
        margin-top: 3rem;
    }
}

@media screen and (max-width: 1024px) {
    .block-inputs {
        margin-bottom: 4rem;
    }
    .profile__password-text-and-mail {
        margin-top: 2rem;
    }
    .profile {
        padding-bottom: 6rem;
    }
    .advantages {
        padding: 40px 0 0 0;
    }
    .advanteges__wrap {
        margin: 0px auto 0;
    }
    .advantages-title {
        padding: 10px 0;
    }
    .how-it-works {
        padding: 0px 0 113px;
    }
    .how-it-works {
        padding: 0px 0 65px;
    }
}

@media screen and (max-width: 992px) {
    .our-advantages {
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 920px) {
    .block-inputs {
        margin-bottom: 3rem;
    }
    h1, h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1.2rem;
    }

    .profile {
        &__main {
            display: block;
        }

        &__left-side, &__right-side {
            width: 100%;
        }

        &__right-side {
            margin-top: 5rem;

            .block-inputs {
                margin-bottom: 0rem;
            }
        }

        &__center-side {
            display: none;
        }

        padding-bottom: 5rem;
    }
}

@media screen and (max-width: 800px) {
    .profile {
        padding-bottom: 1rem;
    }
    .crumbs {
        padding-top: 3rem;
    }
    .field-binding {
        margin-bottom: 2rem;
    }
    footer {
        padding: 40px 0 25px;
    }
    .profile__right-side {
        margin-top: 2.5rem;
    }
    .how-item p {
        padding: 20px 0 0 0px;
    }
}

@media screen and (max-width: 720px) {
    .advantages-item {
        margin: 0 20px 20px;
    }
    .how-it-work {
        margin-top: 2rem;
    }
    .field-binding__container {
        display: block;
        //text-align: center;
    }
    .field-binding__left {
        justify-content: start;
    }
    .field-binding__right {
        margin-top: 1rem;
    }

    .my-container .profile-panel {
        overflow-x: scroll;
    }
    h3 {
        line-height: 1;
    }
}

@media screen and (max-width: 639px) {
    .return-btn {
        position: static;
        display: block;
        transform: none;
        max-width: 200px;
        margin: 0 auto;
    }
    .rent-title {
        padding: 24px 0 20px;
    }
}

@media screen and (max-width: 639px) {
    .rating span {
        display: block;
        margin-left: 0px;
    }
    .rating {
        display: block;
    }
}

.overlay-modal {
    display: block;
    position: fixed;
    z-index: 201;
    background: $darkBlue;
    opacity: 0.5;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.user-menu .user-select a {
    padding-left: 0px;
}

.my-modal {
    z-index: 202;
    height: 100%;
    width: 100%;
    overflow: auto;
    padding: 30px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;

    &__container {
        width: 100%;
        max-width: 690px;
        position: relative;
        z-index: 203;
        background: $white;
        overflow: auto;
        display: inline-block;
        vertical-align: middle;
    }

    &:before {
        content: "";
        display: inline-block;
        width: 0;
        height: 100%;
        vertical-align: middle;
    }

    a {
        color: $lorange;
    }
}

.modal-center {
    padding: 4rem;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1.5rem;


    &__center {
        text-align: left;
    }

    &__tabs {
        padding-bottom: 1rem;

        a {
            color: $fushia;
            padding-right: 1rem;
        }

        a:last-child {
            padding-right: 0px;
        }

        a.active {
            color: $lorange;
        }


    }
}

.repeat-get-sms-code {
    color: $fushia;
    padding-top: 1rem;
}

.waiter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    right: 0px;

    .waiter {
        z-index: 2;
        position: absolute;
    }

    .waiter-background {
        z-index: 1;
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0.5;
    }
}

.modal-footer {
    &__container {
        display: grid;
        place-items: center;
        background-image: linear-gradient(to bottom, $white 50%, $lgrey2 50%);
        color: $fushia;
        height: 50px;
    }

    &__child-container {
        display: flex;
        justify-content: center;
        align-items: center;
        background: $white;
        @include round(10px);
        padding: 0rem 2rem;
    }

    &__line {
        width: 100px;
        height: 1px;
        background: $fushia;
    }

    &__text {
        padding: 1rem 1.5rem;
        font-weight: bold;
    }

    &__container2 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: $lgrey2;
        padding: 4rem 2rem;
    }

    &__soc-button {
        display: flex;
        align-items: center;

        &-image {
            padding-right: 1rem;
        }

        &-name {
            display: inline-block;
        }
    }
}

@media screen and (max-width: 720px) {
    .modal-header {
        display: block;
    }

    .modal-footer__container2 {
        padding: 2rem 2rem;
    }

    .modal-center {
        padding: 2rem;
    }

    .modal-footer__soc-button {
        display: block;
        text-align: center;
    }

    .modal-footer__soc-button-image {
        padding-right: 0rem;
    }

    .modal-footer__soc-button-name {
        display: block;
    }

    .my-modal__container {
        overflow: auto;
        max-height: 100%;
    }
}

.header-button-and-text {
    display: flex;
    justify-content: space-between;
    align-items: center;

    color: $grey2;

    a {
        text-decoration: underline;
        color: $grey2;
    }

    .header-button-text {
        max-width: 289px;
        font-size: 12px;
    }
}

.overlay {
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}

.modal-header__title {
    font-size: 2rem;
    line-height: 1;
    padding-bottom: 1rem;
    text-align: left;
}

.modal-header__profile {
    h2 {
        margin-bottom: 1rem;
        padding: 0px;
    }

    .modal-header {
        padding: 0px;
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0
    }
    to {
        opacity: 0.5
    }
}

@keyframes fadeIn {
    from {
        opacity: 0
    }
    to {
        opacity: 0.5
    }
}

.recovery-password-message {
    text-align: center;

    &__title {
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 1rem;
    }

    &__text {
        font-size: 1rem;
        line-height: 1.4;
    }
}

.mobile-menu-list {
    display: none;
}

.block-inputs-two-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.block-inputs-two-block-part1 {
    width: 70%;
}

.block-inputs-two-block-part2 {
    width: 30%;
    text-align: center;
}

.grey-border-bottom {
    width: 100%;
    height: 1px;
    background: $lgrey1;
    margin-bottom: 1.2rem;
    margin-top: 1rem;
}

.link2 {
    color: $grey;

    a {
        color: $orange;
        text-decoration: none;
    }
}

.butt-mg-r button {
    margin-right: 1rem;
}

.block-inputs-two-block-part2 {
    .avatar {
        margin-bottom: 0px;
    }

    label {
        line-height: 0;
    }
}

.no-space-between {
    justify-content: flex-start;
}

.rent-property-pc {
    font-weight: normal;
}

@media screen and (max-width: 720px) {
    .rent-property-pc {
        display: none;
    }
    .header-button-text {

    }
    .header-button-and-text {
        display: block;

        button {
            margin-bottom: 1rem;
        }
    }
    .block-inputs-two-block {
        flex-direction: column-reverse;
    }
    .block-inputs-two-block-part1, .block-inputs-two-block-part2 {
        width: 100%;
    }
    .block-inputs-two-block-part2 {
        margin-bottom: 1rem;

        .avatar {
            text-align: left;
        }
    }
    .modal-header__title {
        font-size: 1.5rem;
    }
    .recovery-password-message {
        &__title {
            font-size: 1.5rem;
        }

        &__text {

        }
    }
}

@media screen and (max-width: 500px) {
    .modal-footer__container2 {
        display: block;
        padding: 1rem;
    }

    .modal-footer__container2 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }

    .modal-footer__soc-button {
        width: 50%;
        padding-top: 1rem;
    }

    .modal-footer__line {
        display: none;
    }
}

.close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    font-size: 30px;
}

.header-content-pc {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-number {
    margin-right: 0.5rem;
    width: 27px;
    text-align: center;
}

@media screen and (max-width: 1200px) {
    .header-content {
        .header-content-pc {
            display: none;
        }

        .wrap-nav .header-btn {
            display: inline-block;
        }
    }
    .mobile-menu-list {
        display: block;
    }
}

.change-city-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    cursor: pointer;
    background: none;
    font-family: "Roboto", sans-serif;
    color: $fushia;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 1;
    opacity: 0;
}

.change-city-select-text {
    padding-right: 22px;
    text-align: right;
}

.change-city {
    position: relative;
    overflow: hidden;
}

.change-city.index {
    display: inline-flex;

    .change-city-select-text {
        margin-left: 1rem;
        text-align: center;
    }

    .change-city-select {
        font-size: 14px;
        height: 100%;
        width: 100%;
    }
}

.find-you-ideal-house {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1283px) {
    .change-city.index {
        display: inline-block;

        .change-city-select-text {

        }
    }
    .change-city.index .change-city-select {
        width: 100%;
    }
}

#change-city-select-index {
    opacity: 1;
    position: relative;
    width: auto;
}

.change-city-select-header {
    padding-right: 18px;

    &__text {
        //
        position: absolute;
        top: 0px;
        left: 0px;
    }

    &__arrow {
        position: absolute;
        top: 0px;
        right: 0px;
    }
}

#soc-slider {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 16rem;
    height: 4.8rem;
    border-radius: 4px;
    box-shadow: 0px 0px 17px rgba(0, 0, 0, 0.13);
    background: #ffffff;
    overflow: hidden;

    .swiper-slide {
        width: 240px;
        height: 77px;
    }
}

.rent-title-h1 {
    font-family: "Roboto", sans-serif;
    letter-spacing: 0px;
    line-height: 1.2;
    font-weight: 300;

    b {
        text-transform: uppercase;
        font-weight: 900;
    }
}

.soc-slider-banner {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 100%;
    width: 100%;
    height: 100%;
    padding: .8rem;
    border-radius: 4px;
    background: #ffffff;

    &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: .8rem;
        width: 40px;
        height: 40px !important;
    }

    &__media {
        .row1 {
            display: flex;
            align-items: center;
            justify-content: flex-start;

            .rating {
                display: inline-block;
                margin-right: 8px;
                font-size: 1.1333333333rem;
                font-weight: bold;
                line-height: 1.7333333333rem;
                color: rgba(0, 0, 0, 0.9);
            }
        }

        .row2 {
            display: flex;
            align-items: center;
            justify-content: flex-start;

            .title {
                margin-right: .5333333333rem;
                font-size: 1rem;
                line-height: 1.4666666667rem;
                color: #000000;
            }

            .count-of-reviews {
                font-size: .9333333333rem;
                line-height: 1.2rem;
                color: #a6a6a6;
            }
        }
    }
}

.stars {
    position: relative;
    display: inline-block;
    margin-bottom: 3px;
    vertical-align: middle;

    .star {
        display: inline-block;
        width: 16px;
        height: 16px;
        overflow: hidden;

        &:before {
            background: url("../img/star.svg") no-repeat;
            position: absolute;
            display: block;
            width: 16px;
            height: 16px;
            opacity: 0.3;
            content: '';
            top: 0px;
            left: 0px;
        }

        &:after {
            position: absolute;
            background: url("../img/star.svg") no-repeat;
            display: block;
            width: 16px;
            height: 16px;
            content: '';
            top: 0px;
            left: 0px;
        }
    }

    .star-fullness1 {
        &:after {
            width: 4px;
        }
    }

    .star-fullness2 {
        &:after {
            width: 5px;
        }
    }

    .star-fullness3 {
        &:after {
            width: 6px;
        }
    }

    .star-fullness4 {
        &:after {
            width: 7px;
        }
    }

    .star-fullness5 {
        &:after {
            width: 9px;
        }
    }

    .star-fullness6 {
        &:after {
            width: 10px;
        }
    }

    .star-fullness7 {
        &:after {
            width: 11px;
        }
    }

    .star-fullness8 {
        &:after {
            width: 12px;
        }
    }

    .star-fullness9 {
        &:after {
            width: 13px;
        }
    }
}

.banner-mobile {
    width: 100%;
    max-width: 380px;
    height: auto;
    margin: 0 auto;
    border-radius: 0;
    box-shadow: none;
    background: transparent;
    align-items: flex-start;
    justify-content: flex-start;
    display: none;
    padding-bottom: 2rem;

    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: .3333333333rem .6666666667rem;
    }

    &__img {
        width: 20px;
        height: auto;
    }

    &__rating {
        margin-right: 0.4rem;
        font-size: 1rem;
        line-height: 1;
        margin-left: 0.6rem;
        font-weight: bold;
        color: black;
    }

    &__stars {
        margin: 0px;
        height: 18px;
    }
}

.title-yandex {

}

.house-in-city-text {
    display: inline-block;
}

.welcome__wrap-with-metro {
    .location input, .metro input {
        width: 395px;
    }

    .metro input {
        //margin-right: 8px;
    }
}

@media screen and (min-width: 1201px) and (max-width: 1519px) {
    .location input, .metro input {
        width: 220px !important;
    }
}

@media screen and (max-width: 1200px) {
    .banner {
        bottom: 7%;
    }
    .welcome {
        background-size: cover;
    }
}

@media screen and (max-width: 992px) {
    .banner-mobile {
        display: flex;
    }
    .banner {
        display: none;
    }

    .welcome__wrap {
        padding: 30px 0;
    }

    h2, .title-lvl-2 {
        line-height: 1.4rem;
    }
}

@media screen and (max-width: 400px) {
    .banner-mobile__stars {
        display: none;
    }
}

@media screen and (max-width: 414px) {
    .crumbs {
        padding-top: 2rem;
    }
}

@media screen and (max-width: 720px) {
    .banner-mobile__rating {
        margin-right: 0.1rem;
        margin-left: 0.2rem;
    }
    .filter span {
        padding: 10px 10px 10px 10px;
        height: auto;
    }
    .filter label {
        padding: 6px 13px 6px;
        margin: 0 0.7px;
    }
    .find-you-ideal-house {
        display: block;

        div {
            display: block;
        }
    }
}

@media screen and (max-width: 720px) {
    .field-binding {
        margin-bottom: 1.7rem;
    }
}

.full-guide-rent-title {
    font-size: 49px;
}

.title-link-with-underline {
    font-weight: bold;
}

.rental-faq {
    margin-bottom: 3rem;

    h1, h2, h3 {
        text-align: left;
    }

    h3 {
        margin-top: 1.5rem;
    }

    &-search {
        width: 300px;
        height: auto;
        display: block;
        margin: 0 auto;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    &-bg {
        background: white;

        h1 {
            color: $fushia;
            font-weight: 700;
            text-transform: uppercase;
            padding-top: 3rem;
            padding-bottom: 5rem;
            border-bottom: 1px solid $grecy_special;

            span {
                font-weight: 300;
                text-transform: none;
                display: block;
            }
        }
    }

    &__container &__first-title {
        margin-top: 0px;
        text-align: left;
        font-weight: 700;
    }

    &__left-block {
        width: 20%;
    }

    &__right-block {
        width: 72%;
    }

    .seasonality-img {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;

        img {
            width: 100%;
            height: auto;
        }

        figcaption {
            margin-top: 1rem;
            font-size: 14px;
        }
    }

    .types-of-houses, .ways-protect-scams {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: flex-start;
        flex-direction: row;

        &__block {
            display: block;
            width: 46%;
        }
    }

    .type-of-house, .ways-protect-scam {
        &__title {
            font-size: 24px;
            font-weight: bold;
            margin-top: 3rem;
            margin-bottom: 1rem;
        }

        &__text {
            font-size: 18px;
            line-height: 34px;
            color: $fushia;
        }
    }
}

.agreement ul {
    li {
        list-style: disc;
        list-style-position: inside
    }
}

.note-text {
    background: $lgrey3;
    @include round(10px);
    padding: 1rem 2rem;
    margin: 2rem 0rem;
}

.container-with-grey-line-links {
    a {
        text-decoration: underline;
        color: $dark2;
    }
}

.rent-a-house-img {
    display: none;
}

.advertise-your-ad {
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.rates__list {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.giant-button {
    font-weight: bold;
    background: $yellow;
    border-radius: 5px;
    padding: 17px 20px;
    text-align: center;
    width: 260px;
    height: 60px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

#rate-pay-button {
    margin-left: 7rem;
}

.agreement .ul-number li {
    list-style-type: decimal;
}


.rate {
    position: relative;
    background: $white;
    width: 32%;
    border: 1px solid $grey2_3;

    &__title {
        font-size: 1.3rem;
        text-transform: uppercase;
        font-weight: bold;
        text-align: center;
    }

    &__price {
        font-size: 38px;
        font-weight: 700;
        text-align: center;
        margin-bottom: 1rem;
    }

    &__choose {

    }

    &__buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5rem;
        padding-bottom: 6rem;
    }

    &__button {
        font-weight: bold;
        background: $white;
        border-radius: 5px;
        padding: 17px 20px;
        text-align: center;
        width: 300px;
        height: 60px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid $grey2_3;
        transition: 1s;
    }

    &__button:hover {
        background: $yellow;
        border: 1px solid $yellow;
        transition: 1s;
    }

    &__choosen {
        display: none;
        justify-content: center;
        align-items: center;
        height: 60px;
        margin: 0 auto;
    }

    &__choosen-icon {
        color: $white;
        background: $dark3;
        @include round(20px);
        width: 27px;
        height: 26px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__choosen-text {
        font-size: 1.5rem;
        font-weight: 500;
        margin-left: 0.6rem;
        color: $dark3;
    }

    &__days {
        font-size: 15px;
    }

    &__days-and-triangle {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1rem;
    }

    &__triangle {
        width: 0px;
        height: 0px;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-top: 6px solid $fushia;
        margin-left: 0.8rem;
    }

    &__feature {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 1rem;

        &-icon {
            color: $lfushia;
            border: 3px solid $lfushia;
            @include round(20px);
            padding: 2px 3px;

            .fa-times {
                padding: 0px 3px;
                @include round(30px);
            }
        }

        &-text {
            font-size: 16px;
            margin-left: 0.5rem;
        }
    }

    &__feature.disable {
        opacity: 0.5;
    }
}

.rate.popular {
    border: 6px solid $yellow;
}

.rate__block-child1 {
    border-bottom: 1px solid $grey2_3;
}

.rate__block-child2 {
    border-bottom: 1px solid $grey2_3;
    min-height: 290px;
}

.rate__block-child3 {
    text-align: center;
}

.rate__block-child1,
.rate__block-child2,
.rate__block-child3 {
    padding: 1.8rem 2rem;
}

.popular-img {
    position: absolute;
    z-index: 1;
    top: -10px;
    right: -10px;
}

@media screen and (max-width: 1366px) {
    .rate__block-child2 {
        min-height: 342px;
    }
    .rates__list {
        overflow: auto;
    }

    .rate .giant-button, .rate__choosen {
        width: 165px;
        height: 44px;
    }
    .rate__choosen-text {
        font-size: 1rem;
    }
}

@media screen and (max-width: 992px) {
    .rate {
        width: 254px;
        margin: 1rem;
    }
    .rates__list {
        justify-content: flex-start;
    }
    .rates .container {
        max-width: 100%;
        padding: 0px 1rem;
    }
    .rate__title {
        font-size: 1rem;
    }
    .rate__feature-text {
        font-size: 12px;
        margin-left: 0.5rem;
    }
    .rate__title {
        padding: 0px 1rem;
    }
    .rate__price {
        font-size: 30px;
    }
    .rate__buttons {
        flex-direction: column;
        align-items: center;
        margin-top: 3rem;
        padding-bottom: 4rem;
    }
    #rate-pay-button {
        margin-left: 0rem;
        margin-top: 1rem;
    }
    .rate__button {
        width: 270px;
    }
    .rate .giant-button, .rate__choosen {
        //width: 165px;
        //height: 44px;
    }
}

@media screen and (max-width: 767px) {
    .rate__buttons {
        margin-top: 2rem;
        padding-bottom: 3rem;
    }
    .advertise-your-ad {
        margin-top: 0.5rem;
        margin-bottom: 1rem;
    }
}

.info-tab__child-title {
    font-weight: normal;
    padding: 1rem 1rem;
    padding-bottom: 0rem;
}

.info-tab__children {
    display: none;
}

.info-tab__children.active {
    display: block;
}

.rental-faq-butt.active {
    font-weight: bold;
}

.rental-faq__left-block-water.active {
    position: fixed;
    top: 0px;
    max-width: 266px;
}

.rental-faq__left-block-water.active2 {

}

.rental-faq__container.bottom {
    align-items: flex-end;
}

.rental-faq-mobile-menu-title {
    display: none;
}

@media screen and (max-width: 991px) {

    .rental-faq-mobile-menu-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        position: fixed;
        top: 0px;
        background: white;
        z-index: 28;
        left: 0px;
        padding: 20px;
        overflow: auto;
        font-size: 16px;
        border-bottom: 1px solid $grecy_special;

        svg {
            margin-left: 10px;
            transition: all 0.2s linear;
        }
    }

    .rental-faq-mobile-menu-title svg.transform {
        transform: rotate(180deg);
    }

    .rental-faq__left-block {
        width: 0%;
    }

    .rental-faq__left-block-water {
        display: block;
        opacity: 0;
        width: 100%;
        position: fixed;
        top: 58px !important;
        background: white;
        z-index: 27;
        left: 0px;
        padding: 20px;
        height: 100%;
        overflow: auto;
        max-width: 100% !important;
        transition: all 0.2s linear;
        visibility: hidden;
    }
    .rental-faq__left-block-water.show {
        opacity: 1;
        visibility: visible;
    }
    .rental-faq__right-block {
        width: 100%;
    }
    .rent-a-house-img {
        display: block;
        width: 30%;
        height: auto;
        margin: 0 auto;
        margin-bottom: 3rem;
    }
    .rental-faq-bg h1 {
        text-align: center;
        padding-bottom: 0rem;
        display: block;
        margin: 0 auto;
        font-size: 2rem;

        span {
            font-size: 1.5rem;
        }
    }
}

@media screen and (max-width: 768px) {
    .rental-faq .type-of-house__text, .rental-faq .ways-protect-scam__text {
        font-size: 16px;
        line-height: 30px;
    }
    .rental-faq-bg h1 {
        font-size: 1.7rem;

        span {
            font-size: 1.2rem;
        }
    }
}

@media screen and (max-width: 420px) {
    .rental-faq .type-of-house__text, .rental-faq .ways-protect-scam__text {
        font-size: 14px;
        line-height: 24px;
    }
}

@media screen and (max-width: 992px) {
    .rental-faq .type-of-house__title, .rental-faq .ways-protect-scam__title {
        line-height: 1.4rem;
    }
}

@media screen and (max-width: 920px) {
    .rental-faq .type-of-house__title, .rental-faq .ways-protect-scam__title {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 768px) {
    .rental-faq .type-of-house__title, .rental-faq .ways-protect-scam__title {
        margin: 20px 0 10px;
        font-size: 20px;
    }
    .rental-faq .types-of-houses__block {
        width: 100%;

        img {
            max-width: 300px;
            width: 100%;
        }
    }
    .rental-faq .ways-protect-scams__block {
        display: block;
        width: 100%;
    }
    .rental-faq-search {
        width: 100%;
        max-width: 100px;
    }
}

@media screen and (max-width: 420px) {
    .rental-faq .type-of-house__title, .rental-faq .ways-protect-scam__title {
        font-size: 16px;
    }
}

.middle-warning {

}

.red-star {
    color: $orange;
}

.page-create-update-room {
    margin-top: 60px;
}

.page-create-update-room {
    padding-bottom: 1rem;

    b {

    }

    &__note {
        background: $grey3;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 1px solid $grey4;
        font-size: 15px;

        &-title {
            color: black;
        }

        &-middle-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &-image {
            margin-right: 10px;
            font-size: 22px;
        }

        &-bold-text {
            font-weight: 500;
        }

    }

    &__field-template1 {
        height: 55px;
        padding: 0px 15px;
    }

    &__warning {
        margin-left: -30px;
        font-size: 15px;
    }

    &__black-text {
        color: black;
        font-size: 15px;
    }

    &__label-miniatures {
        cursor: pointer;
    }

    &__miniatures {
        margin: 30px 0px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        flex-direction: row;
    }

    &__miniature {
        position: relative;
        width: 202px;
        height: 137px;
        margin-right: 12px;
        margin-bottom: 12px;

        &-image {
            width: 100%;
            height: 100%;
        }

        &-button {
            cursor: pointer;
            position: absolute;
            bottom: 10px;
            right: 20px;
        }
    }

    &__miniature:nth-child(4n+4) {
        margin-right: 0px;
    }

    &__field-center {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__field-up {
        margin-bottom: 60px;
    }

    &__list {
        padding-left: 19px;

        li {
            font-size: 15px;
            margin-bottom: 10px;
            color: black;
            opacity: 0.6;
        }

        li:before {
            -moz-border-radius: 50%;
            -webkit-border-radius: 50%;
            border-radius: 50%;
            content: "";
            width: 4px;
            height: 4px;
            position: absolute;
            top: 9px;
            left: -17px;
            background-color: #575c58;
        }
    }

    &__field-title {
        font-size: 16px;
    }

    &__photo-requirements {
        padding-top: 30px;
        padding-bottom: 16px;
    }

    &__block {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;

        .left {
            width: 365px;
            margin-right: 108px;
        }

        .right {
            width: 100%;
        }
    }
}
