<template>
    <div class="field-binding">
        <div class="field-binding__container">
            <div class="field-binding__left">
                <img class="field-binding__img" :src="image">
                <div class="field-binding__name">{{name}}</div>
            </div>
            <div class="field-binding__right">
                <template v-if="binding">
                    <div class="check-block">
                        <i class="check-block__icon fas fa-check"></i>
                        <div class="check-block__text">Привязан</div>
                    </div>
                    <i class="field-binding__cancel fas fa-times" @click="requestBindingCancel"></i>
                </template>
                <button v-else class="" @click="requestBinding">Привязать</button>
            </div>
        </div>
        <errors v-if="error" :errors="errorArrayForAlertError"/>
    </div>
</template>

<script>
    import {binding} from "../../../../mixins/forms/binding/binding";

    export default {
        mixins: [binding]
    }
</script>
