/*@charset "utf-8";*/


html {
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

pre {
    font-family: monospace, monospace;
    font-size: 1em
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted
}

b, strong {
    font-weight: bolder;
    display: inline-block
}

code, kbd, samp {
    font-family: monospace, monospace;
    font-size: 1em
}

small {
    font-size: 80%
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

button, input {
    overflow: visible
}

button, select {
    text-transform: none
}

button, [type="button"], [type="reset"], [type="submit"] {
    -webkit-appearance: button
}

button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0
}

button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {
    outline: none
}

fieldset {
    padding: .35em .75em .625em
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal
}

progress {
    vertical-align: baseline
}

textarea {
    overflow: auto
}

[type="checkbox"], [type="radio"] {
    box-sizing: border-box;
    padding: 0;
    display: none
}

[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
    height: auto
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

table {
    width: 100%;
    border-collapse: collapse
}

details {
    display: block
}

summary {
    display: list-item
}

template {
    display: none
}

[hidden] {
    display: none
}

a {
    background-color: transparent;
    text-decoration: none
}

img {
    border: none;
    max-width: 100%;
}

a, button {
    outline: none;
    cursor: pointer
}

li {
    list-style: none
}

button {
    background: none;
    border: none
}

a, button, input, textarea {
    -webkit-appearance: none;
    transition: all .5s ease
}

:after, :before {
    box-sizing: border-box
}

* {
    position: relative;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

input, textarea {
    display: block
}

a, span, button, i {
    display: inline-block
}

textarea {
    resize: none;
    outline: none;
    border: none;
    -webkit-appearance: none;
    border-radius: 0;
    background: none
}

input {
    outline: none;
    border: none;
    -webkit-appearance: none;
    border-radius: 0;
    background: none
}

input[type='number'] {
    -moz-appearance: textfield
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none
}

input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: none;
    display: inline-block
}

input[type="search"]::-webkit-search-cancel-button {
    background: none;
    display: none
}

input::-webkit-input-placeholder {
    color: #75756F
}

input::-moz-placeholder {
    color: #75756F
}

input:-moz-placeholder {
    color: #75756F
}

input:-ms-input-placeholder {
    color: #75756F
}

textarea::-webkit-input-placeholder {
    color: #75756F
}

textarea::-moz-placeholder {
    color: #75756F
}

textarea :-moz-placeholder {
    color: #75756F
}

textarea:-ms-input-placeholder {
    color: #75756F
}

input:focus::-webkit-input-placeholder {
    color: transparent;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease
}

input:focus::-moz-placeholder {
    color: transparent;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease
}

input:focus:-moz-placeholder {
    color: transparent;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease
}

input:focus:-ms-input-placeholder {
    color: transparent;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease
}

textarea:focus::-webkit-input-placeholder {
    color: transparent;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease
}

textarea:focus::-moz-placeholder {
    color: transparent;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease
}

textarea:focus:-moz-placeholder {
    color: transparent;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease
}

textarea:focus:-ms-input-placeholder {
    color: transparent;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease
}

.text-align-left {
    text-align: left
}

.text-align-center {
    text-align: center
}

.text-align-right {
    text-align: right
}

.float-left {
    float: left
}

.float-right {
    float: right
}

.full-img img {
    width: 100%
}

figure {
    text-align: center;
    margin-bottom: 30px
}

figure figcaption {
    text-align: center;
    margin-top: 5px;
    font-size: .75em;
    opacity: .8
}

.clearfix:after {
    content: '';
    clear: both;
    display: block
}

/*body*/

@font-face {
    font-family: 'Roboto', sans-serif;
}

@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/HelveticaNeueCyr-Medium.eot');
    src: url('../fonts/HelveticaNeueCyr-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HelveticaNeueCyr-Medium.woff') format('woff'),
    url('../fonts/HelveticaNeueCyr-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/HelveticaNeueCyr-Light.eot');
    src: url('../fonts/HelveticaNeueCyr-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HelveticaNeueCyr-Light.woff') format('woff'),
    url('../fonts/HelveticaNeueCyr-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
//src: url('../../public/fonts/HelveticaNeueCyr-HeavyItalic.eot');
//src: url('../../public/fonts/HelveticaNeueCyr-HeavyItalic.eot?#iefix') format('embedded-opentype'),
//url('../../public/fonts/HelveticaNeueCyr-HeavyItalic.woff') format('woff'),
//url('../../public/fonts/HelveticaNeueCyr-HeavyItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

h1,
.title-lvl-1 {
    font-family: 'Helvetica', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 62px;
    line-height: 72px;
    letter-spacing: 0.4px;
    color: rgb(67, 75, 101);
}

h2,
.title-lvl-2 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 75px;
    text-align: center;
    color: rgb(67, 75, 101);
}

h3,
.title-lvl-3 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: rgb(67, 75, 101);
}

h4,
.title-lvl-4 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

h5,
.title-lvl-5 {
    font-size: 1.25em;
    margin-bottom: 20px;
}

h6,
.title-lvl-6 {
    font-size: 1em;
    margin-bottom: 20px;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #434b65;
    background: #FFF;
    font-size: 14px;
}

.text-center {
    text-align: center;
}

a, button {
    color: #434b65;
}

p, li, span, a {
    line-height: 1.35;
}

.wrapper {
    width: 100%;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100vh;
}

header {
    width: 100%;
    padding: 20px 0;
    z-index: 22;
    position: relative;
    background: #fff;
}

main {
    flex: auto;
    display: block;
}

footer {
    margin: auto auto 0 auto;
    width: 100%;
}

.container {
    width: 100%;
    max-width: 1240px;
    min-width: 320px;
    margin: 0 auto;
    padding: 0 15px;
}

.container-fluid {
    width: 100%;
    max-width: 1110px;
    min-width: 320px;
    margin: 0 auto;
    padding: 0 15px;
}


.text {
    margin-bottom: 30px;
}

.text:last-child {
    margin-bottom: 0;
}

.text p {
    color: #535353;
    margin-bottom: 15px;
}

.indent-bottom {
    margin-bottom: 30px;
}

.left-img {
    float: left;
    margin: 0 20px 20px 0;
}

.right-img {
    float: right;
    margin: 0 0 20px 20px;
}

.left-img,
.right-img {
    max-width: 50%;
}


/*list-pages*/

.list-pages {
    padding: 35px 0
}

.list-pages a {
    display: block;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px
}

.list-pages a:hover {
    text-decoration: underline
}


/*header  */


header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 2rem;
    font-weight: bold;
    color: black;
    font-family: "Helvetica", sans-serif;
}

.menu {
    display: flex;
}

.menu > * + * {
    margin-left: 50px;
}

.menu a {
    font-size: 16px;
    font-weight: normal;
}

.menu a :last-child {
    color: #fe6541;
}

.menu a :last-child:before {
    content: 'NEW';
    position: absolute;
    font-size: 9px;
    color: #FFF;
    background: #fe6541;
    border-radius: 100px;
    padding: 1px 5px;
    text-align: center;
    right: -35px;
    display: inline-block;
    top: 50%;
    transform: translateY(-50%);
}

.header-btn {
    font-size: 14px;
    font-weight: bold;
    background: #fedb66;
    border-radius: 5px;
    padding: 17px 20px;
}

.header-btn:before {
    /*content: '';*/
    /*position: absolute;*/
    /*background: url("../img/head_btn-arrow.png") center no-repeat;*/
    /*top: 50%;*/
    /*transform: translateY(-50%);*/
    /*right: 35px;*/
    /*width: 27px;*/
    /*height: 8px;*/
}

.header-number {
    color: #fe6541;
    border-radius: 50px;
    border: 2px solid #fedb66;
    font-size: 14px;
    font-weight: 500;
    padding: 4px 4px 2px;
}

.header-content {
    display: flex;
    align-items: center;
}

.user-select {
    width: 39px;
    height: 39px;
    border-radius: 50%;
    background-color: rgb(218, 216, 217);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 16px;
}

.user-select:before {
    content: '';
    position: absolute;
    background: url(../img/svg/menu-arrow.svg) center no-repeat;
    top: 50%;
    transform: translateY(-50%) rotate(180deg);
    right: -16px;
    width: 8px;
    height: 5px;
    transition: .34s all;
}

.header-user {
    display: flex;
    align-items: center;
}


.dropdown-content a:hover {
    color: #fe6541;
}

.dropdown.active .user-select:before {
    transform: rotate(0);
}

.dropdown-content a {
    text-decoration: none;
    display: block;
    font-size: 15px;
    color: #434b65;
    padding-left: 45px;
}

.dropdonw-adress:before {
    content: '';
    position: absolute;
    background: url("../img/svg/adress.svg") center no-repeat;
    width: 22px;
    height: 18px;
    top: 0;
    left: 0;
}

.dropdown-heart:before {
    content: '';
    position: absolute;
    background: url("../img/svg/dropheart.svg") center no-repeat;
    width: 19px;
    height: 18px;
    top: 0;
    left: 0;
}

.dropdown-check:before {
    content: '';
    position: absolute;
    background: url("../img/svg/check.svg") center no-repeat;
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
}

.dropdown-content span {
    font-size: 13px;
    color: #a3a3a3;
    position: absolute;
    display: block;
    top: 20px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown.active .dropdown-content {
    display: block;
}

.dropdown-content {
    position: absolute;
    background-color: #f9f9f9;
    min-width: 224px;
    padding: 25px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    transition: .34s all;
    right: -20px;
    top: 40px;
}

.dropdown-content > * + * {
    margin-top: 20px;
}

.header-user > * + * {
    margin-left: 8px;
}

.header-content > * + * {
    margin-left: 25px;
}

.user-menu {
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
}

.user-menu:before {
    content: '';
    position: absolute;
    background: #a3a3a3;
    height: 1px;
    width: 129%;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.user-menu__txt {
    width: calc(100% - 39px - 15px);
}

.user-menu__txt p {
    font-size: 13px;
    color: #a3a3a3;
}

.user-menu__txt a {
    padding: 0;
    font-size: 14px;
    line-height: 30px;
    font-weight: 400;
}

.user-menu__txt a:first-of-type {
    padding-top: 20px;
}


/*main*/

h1 b {
    font-weight: 500;
}

h1 {
    margin: 0 auto;
    text-align: center;
}

.welcome {
    background: url("../img/welcome_bg.png") center no-repeat;
    background-size: 100% 100%;
    height: 614px;
}

.welcome__wrap-filter {
    display: flex;
    align-items: center;
    margin: 70px auto 0;
    max-width: fit-content;
    flex-wrap: wrap;
}

.welcome__wrap-filter > * + * {
    margin-left: 8px;
}

.welcome__wrap {
    padding-top: 93px;
}

.filter {
    display: flex;
    align-items: center;
}

label {
    padding: 4px 6px;
    line-height: 190%;
    outline-style: none;
    transition: all .6s;
}

.filter .checkbox__wrap {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.filter input[type="checkbox"],
.filter input[type="radio"] {
    display: none;

}

.filter span {
    font-size: 14px;
    font-weight: 500;
    padding: 23px 30px 23px 42px;
    background: #FFF;
    border-radius: 5px 0 0 5px;
    margin-right: 0.5px;
    height: 60px;
}

.filter label {
    cursor: pointer;
    background: #FFF;
    padding: 17px 26px;
    font-size: 14px;
    font-weight: 500;
    transition: .34s all;
    margin: 0 0.5px;
}

.filter label:last-child {
    border-radius: 0 5px 5px 0;
}

.tooltip:hover:after {
    display: flex;
    justify-content: center;
    color: #fff;
    content: attr(title);
    font-weight: normal;
    font-size: 14px;
    padding: 5px;
    background: #252B34;
    opacity: 0.8;
    position: absolute;
    width: 208px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    bottom: 80px;
    z-index: 222;
    border-radius: 5px;
}


.tooltip:hover:before {
    border: solid;
    border-color: #4E535B transparent;
    border-width: 12px 6px 0 6px;
    content: "";
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 68px;
    position: absolute;
    z-index: 222;
}


.filter input[type="checkbox"]:checked + label {
    background: #fedb66;
    color: #000;
}

.location input, .metro input {
    padding: 21px;
    background: #FFF;
    border-radius: 5px;
    width: 516px;
    text-align: left;
    font-size: 14px;
    font-weight: 500;
    color: #434b65;
    height: 60px;
}

.location input::placeholder, .metro input::placeholder {
    font-size: 14px;
    font-weight: 500;
    text-align: left;
    color: #434b65;
}

.welcome__wrap-filter button {
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    border-radius: 5px;
    background: #fedb66;
    padding: 21px 20px;
    min-width: 200px;
    height: 60px;
}

.banner {
    position: absolute;
    right: 15px;
    bottom: -106px;
    width: 236px;
    height: 77px;
    box-shadow: 0 0 17px rgba(0, 0, 0, 0.13);
}

.benefits {
    padding: 50px 0 50px;
}

.benefits__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 50px -10px 0;
}

.benefits-item {
    border: 1px solid rgb(232, 232, 232);
    border-radius: 5px;
    background: #FFF;
    padding: 38px 25px;
    margin: 0 10px 30px;
    width: calc(100% / 4 - 20px);
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #666666;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.benefits-title {
    font-size: 16px;
    font-weight: 500;
    padding: 20px 0;
    color: #434b65;
}

.benefits-num {
    font-family: 'Helvetica';
    font-size: 60px;
    font-weight: 800;
    font-style: italic;
    position: absolute;
    color: rgba(244, 244, 244, 0.639);
    right: 30px;
    top: 17px;
}


.help {
    background: #f3f3f3;
    padding: 75px 0;
}

.help__wrap-left h2 {
    line-height: 48px;
    text-align: left;
}

.help-btn img {
    width: 38px;
    height: 38px;
}

.help-btn {
    border-radius: 5px;
    min-width: 175px;
    height: 68px;
    background: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.help-btn.active {
    background: #fedb66;
}

.help-buttons__wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 -6px;
}

.help-button__item {
    width: calc(100% / 3 - 12px);
    margin: 0 6px 15px;
}

.help__wrap-left {
    max-width: 550px;
}

.help-left__content {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.help-buttons__text span {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 15px;
}

.help-buttons__text p {
    font-size: 16px;
    font-weight: 400;
    color: #666666;
    line-height: 20px;
}

.help-buttons__text {
    background: #FFF;
    border-radius: 5px;
    padding: 38px 55px;
}

.help-right__user {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.help-right__user span {
    position: absolute;
    border-radius: 50%;
    background: #fedb67;
    bottom: -9px;
    left: 50%;
    transform: translateX(-50%);
    width: 18px;
    height: 18px;
}

.help-right__user span:before {
    content: '';
    background: url("../img/pause.png") center no-repeat;
    width: 7px;
    height: 9px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.help__wrap {
    display: flex;
}

.help-right__text {
    border-radius: 5px;
    background: #fedb67;
    padding: 15px 22px;
    margin-left: 25px;
    width: calc(100% - 18px - 25px);
}

.help-right__text:before {
    border: 10px solid transparent;
    border-right: 15px solid #fedb67;
    top: 50%;
    transform: translateY(-50%);
    left: -25px;
    position: absolute;
    content: '';
}

.help-right__item:nth-child(even) .help-right__text:before {
    border: 10px solid transparent;
    border-right: 15px solid #fff;
}

.help-right__text p {
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    color: #434b65;
}

.help-right__item {
    display: flex;
    align-items: center;
}

.help-right {
    width: calc(100% - 550px);
    padding-left: 80px;
}

.help__wrap-right > * + * {
    margin-top: 25px;
}

.help-right__item:nth-child(even) .help-right__text {
    background: #FFF;
}

.help__wrap-right {
    transition: .34s all;
    display: none;
}

.help-buttons__text {
    transition: .34s all;
    display: none;
}

.help__wrap-right.active {
    display: block;
}

.help-buttons__text.active {
    display: block;
}


.offer {
    padding: 105px 0 112px;
    text-align: center;
}

.offer__wrap {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 35px auto 0;
    max-width: 980px;
    flex-wrap: wrap;
    text-align: left;
}

.offer-item {
    border: 1px solid rgb(221, 221, 221);
    background: #FFF;
    padding: 12px 14px 35px;
    width: calc(100% / 3 - 20px);
    margin: 0 10px 20px;

}

.offer-swiper {
    width: 100%;
    margin-bottom: 20px;
}

.swiper-container {
    width: 100%;
    max-height: 208px;
    cursor: pointer;
}

.swiper-container .swiper-slide {
    height: 208px;
}

.swiper-container .swiper-slide img {
    /*height: 208px;*/
    height: 100%;
}

.swiper-pagination-bullet {
    width: 45px;
    height: 2px;
    display: inline-block;
    border-radius: 0;
    background: #fff;
    opacity: .4;
}

.swiper-pagination-bullet-active {
    opacity: 1;
    background: #fff;
}

.swiper-container-horizontal > .swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 8px;
    left: -25px;
    width: 100%;
}

.pagination-num {
    display: flex;
    position: absolute;
    z-index: 55;
    bottom: 10px;
    right: 10px;
    color: #FFF;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 1px 5px;
    text-align: center;
    font-size: 12px;
}

.swiper-desc {
    display: flex;
}

.swiper-desc > * + * {
    margin-left: 15px;
}

.swiper-desc p {
    font-size: 14px;
    font-weight: 500;
    color: #969696;
}

.swiper-location p {
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    color: #000;
}

.swiper-text span {
    color: rgb(67, 75, 101);
    font-size: 20px;
    font-weight: bold;
}

.swiper-location {
    padding: 16px 0 20px;
}

.round-color {
    border-radius: 50%;
    position: absolute;
    height: 13px;
    width: 13px;
    top: 6px;
    right: 6px;
    z-index: 55;
}

.round-color.blue {
    background: #369dd9;
}

.round-color.green {
    background: #18a24b;
}

.round-color.yellow {
    background: #fedb66;
}

.offer-btn {
    height: 60px;
    font-size: 15px;
    font-weight: 700;
    padding: 21px 40px;
    text-align: center;
    border-radius: 5px;
    max-width: 285px;
    margin: 8px auto 0;
    background-color: #fedb67;
}

.about-us {
    padding: 60px 0 110px;
    background: #f3f3f3;
}

.swiper_second-container {
    width: 100%;
    height: 100%;
}

.swiper_second-slide {
    border-radius: 5px;
    background: #FFF;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    min-height: 281px;
}

.swiper-slider__user .help-right__user {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.swiper-slider_name {
    width: calc(100% - 60px);
    padding-left: 15px;
}

.swiper-slider_name span {
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    margin-bottom: 5px;
}

.swiper-slider__user {
    display: flex;
    align-items: center;
}

.stars {
    display: flex;
    align-items: center;
}

.star.active {
    filter: grayscale(0);
}

.article__interaction-point-stars a svg {
    width: 16px;
    height: 16px;
}

.article__interaction-point-stars a {
    margin: 0 2px;
}

.rating span {
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;
    color: #ababab;
    margin-left: 10px;
}

.rating {
    display: flex;
    align-items: center;
}

.article__interaction-point-stars > *.active svg * {
    fill: #ffd029;
    transition: .34s all;
}

.article__interaction-point-stars > *.choosed svg * {
    fill: #ffd029;
    transition: .34s all;
}

.swiper-slider__text {
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    padding-top: 35px;
}

.about-us__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-us__swiper {
    margin-top: 3rem;
}

.swiper-button-next, .swiper-button-prev {
    position: relative;
    display: block;
    padding: 10px;
    margin: 0 5px;
    border-radius: 5px;
    width: 50px;
    height: 50px;
    outline: none;
    background: #eaeaea;
    transition: .34s all;
}

.swiper-button-next:hover, .swiper-button-prev:hover {
    background: #ffd029;
}

.swiper-button-next:after, .swiper-button-prev:after {
    top: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 18px;
    color: #000;
}

.swiper-arrows {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    margin: 0 -5px;
}

.swiper-button-prev {
    left: 0;
}

.swiper-button-next {
    right: 0;
}

.swiper_second-container .swiper-pagination-bullet {
    width: 9px;
    height: 9px;
    margin: 0 5px;
    display: inline-block;
    background: #434c64;
    opacity: .4;
    border-radius: 50%;
}

.swiper_second-container .swiper-pagination {
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
}

.swiper_second-container .swiper-pagination .swiper-pagination-bullet-active {
    opacity: 1;
}


/*footer*/

footer {
    padding: 65px 0 25px;
    background: #35363a;
}

.footer-title:before {
    content: '';
    position: absolute;
    background: #4f5053;
    width: 92px;
    height: 1px;
    bottom: -16px;
    left: 0;
}

.footer-title {
    color: #FFF;
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    margin-bottom: 40px;
}

.footer-list span {
    position: absolute;
    content: '';
    background: #FFF;
    border-radius: 50%;
    width: 4px;
    height: 4px;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
}

.footer-list li {
    padding-left: 20px;
    line-height: 30px;
}

.footer-item a {
    font-size: 15px;
    color: #FFF;
    font-weight: 400;
    transition: .34s all;
}

.footer-helper:before {
    content: 'NEW';
    position: absolute;
    font-size: 9px;
    color: #000;
    background: #fff;
    border-radius: 100px;
    padding: 1px 5px;
    text-align: center;
    right: -35px;
    display: inline-block;
    top: 50%;
    transform: translateY(-50%);
    transition: .34s all;
}

.footer__wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.foot-mail {
    border-bottom: 1px solid #fff;
}

.foot-mail:hover {
    border-color: transparent;
}

.footer-item:last-child span {
    padding-left: 26px;
}

.footer-item:last-child span:before {
    content: '';
    position: absolute;
    background: url(../img/svg/mail.svg) center no-repeat;
    width: 21px;
    height: 19px;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
}

.footer__lower-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    border-top: 1px solid #4f5053;
}

.footer__lower-wrap span {
    max-width: 460px;
    font-size: 14px;
    line-height: 18px;
    color: #FFF;
}

.footer__lower-wrap span:last-child {
    text-align: right;
    max-width: 430px;
}

.footer-item a:hover {
    color: #ffbd42;
}

.footer__lower-wrap a {
    color: #FFF;
    text-decoration: underline;
}

.footer__lower-wrap a:hover {
    color: #ffbd42;
}

.footer-helper:hover:before {
    background: #ffbd42;
}

.offer-swiper .tooltip:hover:before {
    bottom: 18px;
}

.offer-swiper .tooltip:hover:after {
    bottom: 30px;
}

.menu a:hover {
    color: #ffbd42;
}

a.header-btn:hover {
    background: #ffbd42;
}

.welcome__wrap-filter button:hover {
    background: #ffbd42;
}

.offer-btn:hover {
    background: #ffbd42;
}

.main-btn {
    border-radius: 23px;
    background-color: rgba(0, 0, 0, 0.4);
    font-size: 15px;
    line-height: 18px;
    font-weight: 700;
    padding: 16px 37px;
    min-width: 165px;
    text-align: left;
    position: absolute;
    bottom: 25px;
    right: 40px;
    color: #FFF;
}

.main-btn:before {
    content: '';
    background: url("../img/quest.png") center no-repeat;
    position: absolute;
    width: 21px;
    height: 21px;
    top: 50%;
    transform: translateY(-50%);
    right: 30px;
}

.swiper-heart {
    width: 19px;
    height: 18px;
}

.swiper-heart:before {
    content: '';
    position: absolute;
    background: url("../img/svg/heart.svg") center no-repeat;
    width: 19px;
    height: 18px;
    transition: .34s all;
}

.swiper-heart:hover:before {
    background: url("../img/svg/heart_h.svg") center no-repeat;
}

.swiper-text__media {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    align-items: center;
}

.swiper-upload {
    height: 17px;
    width: 14px;
    margin-top: 20px;
}

.swiper-upload:hover {
    transform: translateY(-5px);
}


.home {
    background: url("../img/arenda_bg.jpg") center no-repeat;
    background-size: cover;
    padding: 85px 0 75px;
}

.home:before {
    content: '';
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.rent-title {
    font-size: 73px;
    color: #FFF;
    font-weight: 300;
    margin: 0 auto;
    padding: 80px 0;
}

.rent-title b {
    font-weight: 700;
}

.yellow-btn {
    border-radius: 5px;
    background: #fedb67;
    min-width: 260px;
    height: 60px;
    padding: 20px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}

.yellow-btn:hover {
    background: #ffbd42;
}

.rent-btn__wrap {
    text-align: center;
}

.home span {
    font-size: 26px;
    font-weight: 400;
    color: #FFF;
    display: block;
    padding-top: 50px;
}

.home span:before {
    content: '';
    position: absolute;
    background: url(../img/rent-arr.png) center no-repeat;
    width: 38px;
    height: 20px;
    left: 50%;
    transform: translateX(-50%);
    bottom: -30px;
}

.advantages {
    padding: 80px 0 0 0;
}

.advanteges__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 4rem auto 0;
}

.advantages-img {
    height: 90px;
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.advantages-item {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 17px;
    font-weight: 400;
    width: calc(100% / 3 - 40px);
    justify-content: flex-start;
    margin: 0 20px 40px;
    align-items: center;
}

.advantages-title {
    text-transform: uppercase;
    padding: 25px 0;
    font-size: 19px;
}

.how__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 55px -90px 0;
}

.how-item {
    text-align: center;
    width: calc(100% / 3 - 180px);
    margin: 0 90px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.how-img {
    width: 178px;
    height: 203px;
}

.how-item p {
    font-size: 16px;
    line-height: 23px;
    font-weight: 400;
    padding: 45px 0 0 30px;
    text-align: left;
}

.how-item:nth-child(2) .how-img:before, .how-item:nth-child(3) .how-img:before {
    content: '';
    position: absolute;
    background: url(../img/how-it-works/how_arr.png) center no-repeat;
    top: 50%;
    transform: translateY(-50%);
    left: -140px;
    width: 62px;
    height: 30px;
}

.how-it-works .yellow-btn {
    padding: 20px 80px;
}

.how-btn {
    text-align: center;
}

.how-it-works {
    padding: 50px 0 120px;
}

.logo_img {
    width: 207px;
    height: 31px;
    margin: 0 auto;
}

.user-welcome {
    background: url("../img/user-guide.png") center no-repeat;
    background-size: cover;
}

.user-welcome:before {
    content: '';
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.user-welcome__title {
    font-size: 73px;
    font-weight: 300;
    color: #FFF;
    padding: 295px 0 195px;
    margin: 0px;
    text-align: left;
    line-height: 1.2;
    font-family: "Roboto", sans-serif;
}

.user-welcome__title b {
    font-weight: 700;
    text-transform: uppercase;
    text-align: left;
}

.breadcrumb {

}

.breadcrumb li {
    display: inline-block;
}

.breadcrumb * {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: #666666;
}

.agreement {
    padding: 50px 0 50px;
}

.crumb-item {
    content: '';
    background: url("../img/crumb_arr.png") center no-repeat;
    width: 4px;
    height: 7px;
    margin: 0px 10px;
}

.crumb.active:before {
    display: none;
}

.crumb a:hover {
    text-decoration: underline;
}

.agreement-text p, .terms-text p, .terms-text li {
    font-size: 18px;
    line-height: 34px;
    color: rgb(43, 43, 43);
}

.agreement-text > * + * {
    margin-top: 10px;
}

.agreement-text a {
    color: #fe6541;
}

.agreement-text {
    margin-top: 50px;
}

.important-txt {
    color: #fe6541;
}

.terms-text > * + * {
    margin-top: 10px;
}

.terms-text a {
    color: #fe6541;
}

.terms-text p, .terms-text li {
    font-size: 18px;
    line-height: 34px;
    color: rgb(43, 43, 43);
}

.agreement h2 {
    margin: 40px 0 15px;
}

.dropdown-links > * + * {
    margin-top: 15px;
}

.return-btn {
    border: 1px solid #FFF;
    border-radius: 5px;
    background: transparent;
    color: #FFF;
    min-width: 265px;
    height: 60px;
    text-align: right;
    font-size: 15px;
    font-weight: 700;
    padding: 20px 30px;
    position: absolute;
    top: -15px;
    left: 0;
    z-index: 55;
}

.return-btn:before {
    content: '';
    position: absolute;
    background: url("../img/return_arr.png") center no-repeat;
    width: 27px;
    height: 8px;
    top: 50%;
    transform: translateY(-50%);
    left: 30px;
}

.return-btn:hover {
    transform: translateY(-5px);
    border-color: #ffbd42;
}

.close-nav, .open-nav, .overlay, .wrap-nav--content {
    display: none;
}

@media screen and (max-width: 1200px) {
    .open-nav {
        display: block;
        width: 40px;
        height: 40px;
        background: url(../img/svg/menu.svg) no-repeat center center;
    }

    .wrap-nav {
        display: block;
        position: fixed;
        width: 360px;
        max-width: 85%;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 200;
        overflow: auto;
        visibility: hidden;
        opacity: 0;
        padding: 30px;
        margin: 0;
        -webkit-overflow-scrolling: touch;
        background: #fff;
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }

    .wrap-nav.open {
        visibility: visible;
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0);
        -webkit-box-shadow: 0 -15px 30px 0 rgba(25, 16, 78, 0.75);
        box-shadow: 0 -15px 30px 0 rgba(25, 16, 78, 0.75);
    }

    .close-nav {
        display: block;
        position: absolute;
        z-index: 1;
        top: 25px;
        right: 30px;
        background: url(../img/svg/close.svg) no-repeat center center;
        width: 30px;
        height: 30px;
        background-size: 18px;
    }

    .wrap-nav--content {
        display: block;
        margin: 0 0 15px 0;
    }

    .overlay.open {
        display: block;
        position: fixed;
        z-index: 199;
        background: #19104E;
        opacity: 0.5;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
    }

    .wrap-nav .menu {
        margin: 30px 0;
        display: block;
    }

    .wrap-nav .menu li {
        margin: 20px 0;
    }

    .header-btn {
        font-size: 20px;
        font-weight: bold;
        background: #fedb66;
        border-radius: 5px;
        padding: 10px;
        min-width: initial;

        /*
            font-size: 14px;
    font-weight: bold;
    background: #fedb66;
    border-radius: 5px;
    padding: 17px 20px;.header-btn
        min-width: 252px;
         */
    }

    .header-btn:before {
        display: none;
    }

    .header-user {
        margin-top: 20px;
    }

    .dropdown-content {
        left: -40px;
        top: 50px;
    }

    .welcome__wrap-filter {
        flex-direction: column;
    }

    .welcome__wrap-filter > * + * {
        margin: 10px 0 0 0;
    }

    .welcome__wrap {
        padding: 100px 0;
    }

    .benefits {
        padding: 80px 0;
    }

    .offer {
        padding: 80px 0;
    }

    .about-us {
        padding: 80px 0;
        background: #f3f3f3;
    }

    .menu a {
        font-size: 20px;
    }

    .return-btn {
        left: 15px;
    }

    .user-welcome__title {
        padding: 150px 0;
        font-size: 60px;
    }

    .header-number {
        display: none;
    }

    .dropdown {
        position: relative;
        display: inline-block;
        visibility: hidden;
    }

    .dropdown-content {
        display: flex;
        flex-direction: column-reverse;
        visibility: visible;
        position: relative;
        min-width: 100%;
        top: auto;
        left: auto;
        right: auto;
        padding: 0;
        box-shadow: none;
        background-color: #FFF;
    }

    .dropdown-content a {
        font-size: 16px;
    }

    .dropdown-links {
        padding-top: 30px;
    }

    .dropdown-links a {
        padding-left: 55px;
    }

    .dropdown-links a:before {
        display: none;
    }

    .user-menu {
        display: flex;
        justify-content: space-between;
        padding-top: 25px;
        width: 100%;
    }

    .header-user > * + * {
        margin-left: 0;
    }

    .user-menu:before {
        width: 500px;
        top: 0;
        transform: translateX(-50%);
        left: 50%;
    }


}


@media screen and (max-width: 1024px) {
    h1 {
        max-width: 700px;
        font-size: 50px;
        line-height: 64px;
    }

    .welcome__wrap {
        padding: 60px 0;
    }

    .banner {
        bottom: -40px;
    }

    .benefits-item {
        width: calc(100% / 2 - 20px);
    }

    .help-buttons__wrap {
        justify-content: space-between;
    }

    .help-button__item {
        width: fit-content;
    }

    h2, .title-lvl-2 {
        font-size: 28px;
    }

    h3 {
        font-size: 1.3rem;
    }

    .help-btn {
        border-radius: 5px;
        min-width: 120px;
    }

    .help__wrap-left {
        max-width: 50%;
    }

    .help-right {
        width: 50%;
        padding-left: 55px;
    }

    .help {
        padding: 80px 0;
    }

    .offer {
        padding: 60px 0;
    }

    .offer__wrap {
        margin: 40px auto 0;
    }

    .about-us {
        padding: 60px 0;
    }

    .about-us__swiper {
        margin-top: 40px;
    }

    .benefits {
        padding: 60px 0;
    }

    .benefits__wrap {
        margin: 40px -10px 0;
    }

    .open-nav {
        width: 30px;
        height: 30px;
    }

    .rent-title {
        font-size: 51px;
        max-width: 590px;
        padding: 60px 0;
    }

    .advantages {
        padding: 60px 0;
    }

    .how-it-works {
        padding: 0 0 60px;
    }


}


@media screen and (max-width: 939px) {
    .offer-item {
        width: calc(100% / 2 - 20px);
    }

    .swiper-slide img {
        width: 100%;
    }

    h1 {
        max-width: 520px;
        font-size: 42px;
        line-height: 56px;
    }

    .welcome__wrap-filter {
        margin: 30px auto 0;
    }

    .help__wrap {
        flex-wrap: wrap;
    }

    .help__wrap-left {
        max-width: 100%;
    }

    .help-right {
        width: 100%;
        padding-left: 0;
        margin-top: 30px;
    }

    .help-btn {
        width: 100%;
        min-width: 175px;
    }

    .help__wrap-left h2 {
        text-align: center;
    }

    .logo_img {
        margin: 0 0 0 auto;
    }

    .advantages-item {
        width: calc(100% / 2 - 40px);
    }

    .how-item {
        width: 100%;
    }

    .how-item .how-img:before {
        display: none;
    }

    .rent-title {
        font-size: 39px;
        max-width: 459px;
        padding: 60px 0;
    }

    .agreement h2 {
        margin: 40px 0 20px;
    }


}

@media screen and (max-width: 768px) {
    .footer__lower-wrap span:last-child {
        text-align: center;
    }

    .footer__lower-wrap span {
        text-align: center;
    }

    .footer__lower-wrap {
        justify-content: center;
    }

    .footer__lower-wrap > * + * {
        margin-top: 10px;
    }

    .footer__wrap {
        justify-content: center;
        flex-direction: column;
    }

    .footer-item {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        max-width: 262px;
        margin: 0 auto;
    }

    .footer__wrap > * + * {
        margin-top: 15px
    }

    h1 {
        max-width: 520px;
        font-size: 36px;
        line-height: 44px;
    }

    .filter label {
        padding: 9px 22px 10px;
    }

    .filter span {
        padding: 15px 25px 15px 30px;
        height: 45px;
    }

    .welcome__wrap-filter button {
        padding: 14px 20px;
        min-width: 180px;
        height: 45px;
    }

    .banner {
        right: 15px;
        bottom: -30px;
        width: 180px;
        height: 60px;
    }

    h2, .title-lvl-2 {
        font-size: 24px;
    }

    .benefits {
        padding: 30px 0;
    }

    .help {
        padding: 30px 0;
    }

    .help__wrap-left h2 {
        line-height: 36px;
    }

    .offer {
        padding: 30px 0;
    }

    .swiper_second-container .swiper-pagination {
        bottom: -30px;
    }

    .home {
        padding: 60px 0;
    }

    .logo_img {
        width: 170px;
        height: 26px;
    }

    .return-btn:before {
        display: none;
    }

    .return-btn {
        min-width: 180px;
        height: 40px;
        text-align: center;
        padding: 9px 30px;
        top: -5px;
    }

    .rent-title {
        font-size: 30px;
        max-width: 350px;
        padding: 40px 0;
    }

    .advantages {
        padding: 20px 0;
    }

    .advantages-item {
        width: 100%;
    }

    .user-welcome__title {
        padding: 100px 0;
        font-size: 35px;
    }

    .agreement {
        padding: 20px 0 40px;
    }

    .agreement-text {
        margin-top: 30px;
    }

    .agreement-text p, .terms-text p, .terms-text li {
        font-size: 16px;
        line-height: 30px;
    }

    .agreement h2 {
        margin: 20px 0 10px;
        font-size: 20px;
    }

    h3 {
        font-size: 1rem !important;
    }
}

@media screen and (max-width: 639px) {
    .offer-item {
        width: 100%;
    }

    .benefits-item {
        width: 100%;
    }

    .about-us {
        padding: 30px 0 60px;
    }

    .welcome__wrap-filter {
        max-width: 100%;
    }

    .location input, .metro input {
        width: 100%;
    }

    .location {
        width: 100%;
    }

    .benefits__wrap {
        margin: 10px -10px 0;
    }

    .help-btn {
        min-width: 120px;
    }

    .help-buttons__text {
        padding: 20px;
    }

    .offer__wrap {
        margin: 10px auto 0;
    }

    h1 {
        max-width: 330px;
        font-size: 26px;
        line-height: 36px;
    }

    h2, .title-lvl-2 {
        font-size: 22px;
    }

    .help-left__content {
        margin-top: 30px;
    }

    .help__wrap-left h2 {
        line-height: 30px;
    }

    .logo_img {
        display: none;
    }

    .return-btn {
        min-width: 240px;
        top: -15px;
        left: 50%;
        transform: translateX(-50%);
    }

    .yellow-btn {
        min-width: 240px;
        height: 40px;
        padding: 10px;
    }

    .home span {
        font-size: 22px;
    }

    .advanteges__wrap {
        margin: 10px auto 0;
    }

    .advantages-title {
        padding: 10px 0;
        font-size: 18px;
    }

    .advantages-item p {
        font-size: 15px;
    }

    .advantages-item {
        margin: 0 20px 40px;
    }

    .how__wrap {
        justify-content: center;
        margin: 20px -90px 0;
    }

    .how-item p {
        padding: 20px 0 0 0;
        text-align: center;
    }

    .how-it-works .yellow-btn {
        padding: 10px 20px;
    }

    .rent-title {
        font-size: 22px;
        max-width: 350px;
        padding: 60px 0 20px;
    }


}

@media screen and (max-width: 420px) {
    .open-nav {
        width: 25px;
        height: 25px;
    }

    header {
        padding: 15px 0;
    }

    h1 {
        font-size: 22px;
        line-height: 32px;
    }

    .filter label {
        padding: 4px 18px 5px;
        margin: 0 0.7px;
    }

    .filter span {
        padding: 10px 20px 10px 20px;
        height: 35px;
        margin-right: 0.7px;
    }

    .location input::placeholder, .metro input::placeholder {
        font-size: 12px;
    }

    .location input, .metro input {
        padding: 15px;
        font-size: 12px;
        height: 40px;
    }

    h2, .title-lvl-2 {
        font-size: 20px;
    }

    .banner {
        display: none;
    }

    .help-btn {
        min-width: 88px;
    }

    .help-buttons__text span {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .help-buttons__text p {
        font-size: 14px;
    }

    .offer-item {
        margin: 0 0 20px;
    }

    .about-us__swiper {
        margin-top: 20px;
    }

    .home span {
        font-size: 18px;
    }

    .how-it-works .yellow-btn {
        padding: 10px;
        width: 100%;
        font-size: 13px;
    }

    .agreement-text p, .terms-text p, .terms-text li {
        font-size: 14px;
        line-height: 24px;
    }

    .agreement h2 {
        margin: 20px 0 0 0;
        font-size: 16px;
    }

    h3 {
        font-size: 0.9rem !important;
        margin-top: 0.5rem;
    }

    .user-welcome__title {
        padding: 50px 0;
        font-size: 25px;
    }

}

.user-menu .user-select:before {
    display: none !important;
}

.dropdown.active .user-menu .user-select:before {
    display: none !important;
}
