<template>
    <user-header-modal-container class="modal-header__profile">
        <div class="modal-header__center modal-center">
            <user-header-title-and-text title="Личная информация"/>

            <div class="block-inputs-two-block">
                <div class="block-inputs-two-block-part1">
                    <field-input-text :field="formProfile.name"/>
                    <field-input-text :field="formProfile.email"/>
                    <field-input-phone :field="formProfile.phone"/>
                </div>
                <div class="block-inputs-two-block-part2">
                    <field-avatar :field="formProfile.avatar"/>
                </div>
            </div>

            <div class="grey-border-bottom"/>

            <h2 class="modal-header__title">Сменить пароль</h2>

            <div class="mini-block-inputs">
                <div class="block-inputs-two-block">
                    <div class="block-inputs-two-block-part1">
                        <field-input-password :field="formProfile.password"/>
                        <field-input-password :field="formProfile.password_confirmation"/>
                    </div>
                    <div class="block-inputs-two-block-part2"></div>
                </div>
            </div>

            <user-header-button-and-text button-text="Сохранить" :action="requestFormProfile"
                                         class="butt-mg-r link2 no-space-between">
                Вопросы? Пишите на <a href="mailto:help@keymap.ru"><b>help@keymap.ru</b></a>
            </user-header-button-and-text>
        </div>
        <solid-waiter v-if="requestStatus"/>
    </user-header-modal-container>
</template>

<script>
    import {form} from "../../../mixins/forms/standart/form";
    import UserHeaderModalContainer from "./UserHeaderModalContainer";
    import FieldInputText from "../../general/form/standart/FieldInputText";
    import FieldInputPassword from "../../general/form/standart/FieldInputPassword";
    import FieldAvatar from "../../general/form/standart/FieldAvatar";
    import FieldInputPhone from "../../general/form/standart/FieldInputPhone";
    import UserHeaderTitleAndText from "./UserHeaderTitleAndText";
    import UserHeaderButtonAndText from "./UserHeaderButtonAndText";
    import SolidWaiter from "../../general/SolidWaiter";
    import {REQUEST_STATUS__NOT_PUSH} from "../../../mixins/forms/main";
    import {CHANGE_USER_FIELD} from "../../../store/modules/user";

    export default {
        components: {
            SolidWaiter,
            UserHeaderModalContainer,
            UserHeaderTitleAndText,
            FieldInputText,
            FieldAvatar,
            FieldInputPassword,
            UserHeaderButtonAndText,
            FieldInputPhone
        },
        data: function () {
            return {
                formProfile: {
                    name: this.createFieldForm('Имя', this.validatorName),
                    email: this.createFieldForm('Почта', this.validatorEmail),
                    phone: this.createFieldForm('Телефон', this.validatorPhone),
                    password: this.createFieldForm('Пароль', this.validatorPassword),
                    password_confirmation: this.createFieldForm('Повтверждение пароля', this.validatorPasswordConfirmation),
                    avatar: this.createImageFieldForm('Аватар', this.validatorAvatar),
                },
                requestStatus: REQUEST_STATUS__NOT_PUSH,
            }
        },
        mounted: function () {
            let formProfileClone = {...this.formProfile};
            formProfileClone.name.value = this.$store.getters.USER_DATA.name;
            formProfileClone.email.value = this.$store.getters.USER_DATA.email;
            formProfileClone.phone.value = this.$store.getters.USER_DATA.phone;
            formProfileClone.avatar.url = this.$store.getters.USER_DATA.avatar;
            this.formProfileClone = formProfileClone;
        },
        mixins: [form],
        inject: ['modalClose'],
        computed: {
            userId: function () {
                return this.$store.getters.USER_DATA.id;
            },
            name: function () {
                return this.$store.getters.USER_DATA.name;
            },
            email: function () {
                return this.$store.getters.USER_DATA.email;
            },
            phone: function () {
                return this.$store.getters.USER_DATA.phone;
            },
            avatar: function () {
                return this.$store.getters.USER_DATA.avatar;
            }
        },
        methods: {
            changeFieldVuex(fieldName, value) {
                this.$store.commit(CHANGE_USER_FIELD, {fieldName, value});
            },

            validatorName(value) {
                let $this = this;

                this.formProfile.name = this.changeFieldWithValidate(this.formProfile.name, value, (field) => {
                    $this.validateTextFieldMaxLength(field, 15);
                });
            },
            validatorEmail(value) {
                let $this = this;
                this.formProfile.email = this.changeFieldWithValidate(this.formProfile.email, value, (field) => {
                    $this.validateTextFieldMaxLength(field, 40);
                    $this.validateFieldEmail(field);
                });
            },
            validatorPassword(value) {
                let $this = this;
                this.formProfile.password = this.changeFieldWithValidate(this.formProfile.password, value, (field) => {
                    $this.validateTextFieldMaxLength(field, 10);
                    $this.validateFieldPasswordConfirm(field, this.formProfile.password_confirmation.value);
                });
                this.formProfile.password_confirmation = this.changeFieldWithValidate(this.formProfile.password_confirmation, this.formProfile.password_confirmation.value,
                    (field) => {
                        $this.validateFieldPasswordConfirm(field, this.formProfile.password.value);
                    });
            },
            validatorPasswordConfirmation(value) {
                let $this = this;
                this.formProfile.password_confirmation = this.changeFieldWithValidate(this.formProfile.password_confirmation, value, (field) => {
                    $this.validateTextFieldMaxLength(field, 10);
                    $this.validateFieldPasswordConfirm(field, this.formProfile.password.value);
                });
                this.formProfile.password = this.changeFieldWithValidate(this.formProfile.password, this.formProfile.password.value,
                    (field) => {
                        $this.validateFieldPasswordConfirm(field, this.formProfile.password_confirmation.value);
                    });
            },
            validatorAvatar(value) {
                let $this = this;
                this.changeAndValidateFieldImageWithPromise(this.formProfile.avatar, value).then((field) => {
                    $this.formProfile.avatar = this.changeFieldWithValidate(field, value);
                });
            },
            validatorPhone(value) {
                let $this = this;
                this.formProfile.phone = this.changeFieldWithValidate(this.formProfile.phone, value, (field) => {

                });
            },
            validatorFormProfile() {
                this.validatorName(this.formProfile.name.value);
                this.validatorEmail(this.formProfile.email.value);
                this.validatorAvatar(this.formProfile.avatar.value);
                this.validatorPassword(this.formProfile.password.value);
                this.validatorPhone(this.formProfile.phone.value);
                this.validatorPasswordConfirmation(this.formProfile.password_confirmation.value);
            },
            requestFormProfile() {
                let $this = this;
                this.requestForm(
                    'formProfile',
                    'profile/' + this.userId + '/save',
                    this.validatorFormProfile, () => {
                        $this.modalClose();
                        $this.changeFieldVuex('name', $this.formProfile.name.value);
                        $this.changeFieldVuex('email', $this.formProfile.email.value);
                        $this.changeFieldVuex('avatar', $this.formProfile.avatar.url);
                        $this.changeFieldVuex('phone', $this.formProfile.phone.value);
                    }, null, 'requestStatus'
                );
            },
        }
    }
</script>
