<template>
    <user-header-modal-container>
        <div class="modal-header__center modal-center">
            <user-header-title-and-text :title="title">
                <slot name="title-text"></slot>
            </user-header-title-and-text>
            <div class="modal-header__tabs">
                <template v-for="tab in tabs">
                    <a :class="activeClassForTab(tab.value)" @click="changeTab(tab.value)">{{tab.name}}</a>
                </template>
            </div>
            <div class="modal-header__login">
                <template v-if="activeClassForTab(tabs.tabEmail.value)">
                    <div class="mini-block-inputs">
                        <field-input-text :field="formByEmail.email"/>
                        <field-input-password :field="formByEmail.password"/>
                        <slot name="additional-mail-text"></slot>
                    </div>
                    <user-header-button-and-text :button-text="buttonText" :action="requestFormByEmail">
                        <slot name="button-text"></slot>
                    </user-header-button-and-text>
                </template>
                <template v-if="activeClassForTab(tabs.tabPhone.value)">
                    <div class="mini-block-inputs">
                        <field-input-phone :field="formByPhone.phone"/>
                        <field-input-s-m-s-code v-if="activeButtonGetCodeSMS" :field="SMSCode"/>
                    </div>
                    <button @click="requestFormByPhoneGetCode" :class="'big' + classDisableForButtonGetCodeSMS">Получить
                        SMS-код
                    </button>
                    <div v-if="activeButtonGetCodeSMS" class="repeat-get-sms-code">
                        Запросить SMS-код повторно можно будет через {{ timerRepeatRequestGetSMSCode }} секунд
                    </div>
                </template>
            </div>
        </div>
        <user-header-soc-net-footer/>
        <solid-waiter v-if="requestStatus"/>
    </user-header-modal-container>
</template>

<script>
    import UserHeaderModalContainer from "./UserHeaderModalContainer";
    import UserHeaderButtonAndText from "./UserHeaderButtonAndText";
    import UserHeaderSocNetFooter from "./UserHeaderSocNetFooter";
    import FieldInputPassword from "../../general/form/standart/FieldInputPassword";
    import FieldInputText from "../../general/form/standart/FieldInputText";
    import FieldInputPhone from "../../general/form/standart/FieldInputPhone";
    import FieldInputSMSCode from "../../general/form/standart/FieldInputSMSCode";
    import UserHeaderTitleAndText from "./UserHeaderTitleAndText";
    import SolidWaiter from "../../general/SolidWaiter";
    import {HEADER_MODAL_LOGIN_TAB_EMAIL, HEADER_MODAL_LOGIN_TAB_PHONE} from "../constants";
    import {form} from "../../../mixins/forms/standart/form";
    import {
        REQUEST_STATUS__NOT_PUSH,
        REQUEST_STATUS__PUSH
    } from "../../../mixins/forms/main";

    export default {
        props: ['title', 'buttonText', 'urlByEmail', 'urlByPhone'],
        mixins: [form],
        components: {
            UserHeaderButtonAndText,
            FieldInputPhone,
            UserHeaderModalContainer,
            UserHeaderSocNetFooter,
            FieldInputPassword,
            FieldInputText,
            UserHeaderTitleAndText,
            SolidWaiter,
            FieldInputSMSCode
        },
        data: function () {
            return {
                tab: HEADER_MODAL_LOGIN_TAB_EMAIL,
                tabs: {
                    tabEmail: {name: 'По почте', value: HEADER_MODAL_LOGIN_TAB_EMAIL},
                    tabPhone: {name: 'По телефону', value: HEADER_MODAL_LOGIN_TAB_PHONE}
                },

                formByEmail: {
                    email: this.createFieldForm('Почта', this.validatorEmail),
                    password: this.createFieldForm('Пароль', this.validatorPassword),
                },

                formByPhone: {
                    phone: this.createFieldForm('Телефон', this.validatorPhone),
                },
                SMSCode: this.createFieldForm('Код из SMS', this.inputSMSCode),
                timerRepeatRequestGetSMSCode: 0,

                requestStatus: REQUEST_STATUS__NOT_PUSH,
            }
        },
        inject: ['modalRegister'],
        computed: {
            activeButtonGetCodeSMS: function () {
                return this.timerRepeatRequestGetSMSCode > 0;
            },
            classDisableForButtonGetCodeSMS: function () {
                return this.timerRepeatRequestGetSMSCode > 0 ? ' disable' : '';
            }
        },
        methods: {
            activeClassForTab(value) {
                if (this.tab === value) return ' active'; else return '';
            },

            changeTab(value) {
                this.tab = value;
            },

            validatorEmail(value) {
                let $this = this;
                this.formByEmail.email = this.changeFieldWithValidate(this.formByEmail.email, value, (field) => {
                    $this.validateFieldRequired(field);
                    $this.validateTextFieldMinLength(field, 5);
                    $this.validateTextFieldMaxLength(field, 40);
                    $this.validateFieldEmail(field);
                });
            },
            validatorPassword(value) {
                let $this = this;
                this.formByEmail.password = this.changeFieldWithValidate(this.formByEmail.password, value, (field) => {
                    $this.validateFieldRequired(field);
                    $this.validateTextFieldMinLength(field, 6);
                    $this.validateTextFieldMaxLength(field, 10);
                });
            },
            validatorFormByEmail() {
                this.validatorEmail(this.formByEmail.email.value);
                this.validatorPassword(this.formByEmail.password.value);
            },
            requestFormByEmail() {
                let $this = this;

                this.requestForm(
                    'formByEmail',
                    this.urlByEmail,
                    this.validatorFormByEmail, () => {
                        $this.authSuccess();
                    }, () => {
                        $this.requestStatus = REQUEST_STATUS__NOT_PUSH;
                    },
                    '',
                    () => {
                        $this.requestStatus = REQUEST_STATUS__PUSH;
                    }
                );
            },

            validatorPhone(value) {
                let $this = this;
                this.formByPhone.phone = this.changeFieldWithValidate(this.formByPhone.phone, value, (field) => {
                    $this.validateFieldRequired(field);
                    $this.validateFieldPhone(field);
                });
            },
            validatorFormByPhone() {
                this.validatorPhone(this.formByPhone.phone.value);
            },
            requestFormByPhoneGetCode() {
                if (this.timerRepeatRequestGetSMSCode == 0) {
                    let $this = this;
                    this.requestForm('formByPhone', 'get-sms-code', this.validatorFormByPhone,
                        (result) => {
                            $this.timerRepeatRequestGetSMSCode = 60;
                            let timerId = setInterval(() => {
                                $this.timerRepeatRequestGetSMSCode--;
                                if ($this.timerRepeatRequestGetSMSCode == 0) clearInterval(timerId);
                            }, 1000);
                        }, null, 'requestStatus');
                }
            },
            inputSMSCode(value) {
                if (value.length <= 7) {
                    let $this = this;
                    this.SMSCode = this.changeFieldWithValidate(this.SMSCode, value, (field) => {
                        $this.validateFieldRequired(field);
                        $this.validateSMSCodeFieldMinLength(field);
                    });
                }
                if (value.length == 7) {
                    this.requestStatus = REQUEST_STATUS__PUSH;
                    let $this = this;
                    axios.post(this.urlByPhone, {SMSCode: this.SMSCode.value, phone: this.formByPhone.phone.value})
                        .then(result => {
                            $this.authSuccess();
                        })
                        .catch(errors => {
                            $this.requestStatus = REQUEST_STATUS__NOT_PUSH;
                            let cloneField = {...$this.SMSCode};
                            cloneField.backendErrors = ['Ошибка сервера. Авторизация не удалась.'];
                            if (errors.response.data.errors) cloneField.backendErrors = [...errors.response.data.errors['SMSCode']];
                            $this.SMSCode = cloneField;
                        })
                }
            },

            authSuccess() {
                document.location.reload(true);
            },
        }
    }
</script>
