<template>
    <div class="modal-header">
        <h2 class="modal-header__title">{{title}}</h2>
        <div class="modal-header__text">
           <slot></slot>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['title'],
    }
</script>
