<template>
    <user-header-modal-container>
        <div class="modal-header__center modal-center">
            <user-header-title-and-text title="Потверждение пароля"/>
            <div class="modal-header__password-recovery">
                <div class="mini-block-inputs">
                    <field-input-password :field="formPassword.password"/>
                </div>
                <button class="header-button big" @click="requestFormPassword">Потвердить пароль</button>
            </div>
        </div>
        <solid-waiter v-if="requestStatus"/>
    </user-header-modal-container>
</template>

<script>
    import {form} from "../../../mixins/forms/standart/form";
    import UserHeaderModalContainer from "./UserHeaderModalContainer";
    import UserHeaderTitleAndText from "./UserHeaderTitleAndText";
    import SolidWaiter from "../../general/SolidWaiter";
    import {REQUEST_STATUS__NOT_PUSH, REQUEST_STATUS__PUSH} from "../../../mixins/forms/main";
    import FieldInputPassword from "../../general/form/standart/FieldInputPassword";
    import {getHomeUrl} from "../../../helpers/general";

    export default {
        mixins: [form],
        components: {
            FieldInputPassword,
            SolidWaiter,
            UserHeaderModalContainer,
            UserHeaderTitleAndText,
        },
        inject: ['getData'],
        data: function () {
            return {
                formPassword: {
                    password: this.createFieldForm('Новый пароль', this.validatorPassword),
                    token: {value: '', frontendErrors: {}},
                },
                requestStatus: REQUEST_STATUS__NOT_PUSH,
            }
        },
        mounted() {
            let data = this.getData();
            let cloneToken = {...this.formPassword.token};
            cloneToken.value = data.token;
            this.formPassword.token = cloneToken;
        },
        methods: {
            validatorPassword(value) {
                let $this = this;
                this.formPassword.password = this.changeFieldWithValidate(this.formPassword.password, value, (field) => {
                    $this.validateFieldRequired(field);
                    $this.validateTextFieldMinLength(field);
                    $this.validateTextFieldMaxLength(field);
                });
            },
            validatorFormPassword() {
                this.validatorPassword(this.formPassword.password.value);
            },
            requestFormPassword() {
                let $this = this;
                $this.requestStatus = REQUEST_STATUS__PUSH;
                this.requestForm(
                    'formPassword',
                    'recovery-password/confirmation',
                    this.validatorFormPassword, () => {
                        document.location.href = getHomeUrl();
                    }, () => {
                        $this.requestStatus = REQUEST_STATUS__NOT_PUSH;
                    }
                );
            }
        }
    }
</script>
