<template>
    <div class="my-modal">
        <div class="my-modal__container">
            <slot></slot>
            <i class="close fas fa-times" @click="modalClose"></i>
        </div>
    </div>
</template>

<script>
    export default {
        inject: ['modalClose']
    }
</script>
