<template>
    <div class="modal-footer">
        <div class="modal-footer__container">
            <div class="modal-footer__child-container">
                <div class="modal-footer__line"/>
                <div class="modal-footer__text">ИЛИ</div>
                <div class="modal-footer__line"/>
            </div>
        </div>
        <div class="modal-footer__container2">
            <div class="modal-footer__soc-button" v-for="(button, index) in buttons" :key="index">
                <img class="modal-footer__soc-button-image" :src="button.image"/>
                <div class="modal-footer__soc-button-name">{{ button.name }}</div>
            </div>
        </div>
    </div>
</template>

<script>
    import {getAbsoluteUrl} from "../../../helpers/general";

    export default {
        data: function () {
            return {
                buttons: [
                    this.createButton('icon_gos', 'Госуслуги'),
                    this.createButton('icon_inst', 'Instagram'),
                    this.createButton('icon_vk', 'Вконтакте'),
                    this.createButton('icon_fb', 'Facebook'),
                ]
            }
        },
        inject: ['getAbsoluteUrl'],
        methods: {
            createButton(image, name) {
                return {image: getAbsoluteUrl('img/' + image + '.jpg'), name};
            },
        },
        components: {},
        created() {

        },
    }
</script>
