<template>
    <user-header-modal-container>
        <div class="modal-header__center modal-center">
            <user-header-title-and-text title="Восстановление пароля" v-if="success === false">
                <a @click.prevent="modalLogin" href="">Вернуться</a>
            </user-header-title-and-text>
            <div class="modal-header__password-recovery">
                <template v-if="success">
                    <div class="recovery-password-message">
                        <div class="recovery-password-message__title">Инструкции отправлены</div>
                        <div class="recovery-password-message__text">
                            Мы отправили новый пароль на вашу электронную почту.<br>
                            Если вы не получили пароль, то попробуйте отправить <a @click.prevent="success = false" href="">еще раз</a>
                        </div>
                    </div>
                </template>
                <template v-else>
                    <div class="mini-block-inputs">
                        <field-input-text :field="formByEmail.email"/>
                    </div>
                    <button class="header-button big" @click="requestFormByEmail">Отправить пароль</button>
                </template>
            </div>
        </div>
        <solid-waiter v-if="requestStatus"/>
    </user-header-modal-container>
</template>

<script>
    import {form} from "../../../mixins/forms/standart/form";
    import UserHeaderModalContainer from "./UserHeaderModalContainer";
    import FieldInputText from "../../general/form/standart/FieldInputText";
    import UserHeaderTitleAndText from "./UserHeaderTitleAndText";
    import SolidWaiter from "../../general/SolidWaiter";
    import {REQUEST_STATUS__NOT_PUSH} from "../../../mixins/forms/main";

    export default {
        mixins: [form],
        components: {
            SolidWaiter,
            UserHeaderModalContainer,
            UserHeaderTitleAndText,
            FieldInputText,
        },
        data: function () {
            return {
                formByEmail: {
                    email: this.createFieldForm('Почта', this.validatorEmail),
                },
                requestStatus: REQUEST_STATUS__NOT_PUSH,
                success: false
            }
        },
        inject: ['modalLogin'],
        methods: {
            validatorEmail(value) {
                let $this = this;
                this.formByEmail.email = this.changeFieldWithValidate(this.formByEmail.email, value, (field) => {
                    $this.validateFieldRequired(field);
                    $this.validateTextFieldMinLength(field);
                    $this.validateTextFieldMaxLength(field);
                    $this.validateFieldEmail(field);
                });
            },
            validatorFormByEmail() {
                this.validatorEmail(this.formByEmail.email.value);
            },
            requestFormByEmail() {
                let $this = this;
                this.requestForm(
                    'formByEmail',
                    'recovery-password',
                    this.validatorFormByEmail, () => {
                        $this.success = true;
                    }, null, 'requestStatus'
                );
            },
        }
    }
</script>
