<template>
    <div class="header-button-and-text">
        <button class="header-button big"  @click="action">{{ buttonText }}</button>
        <div class="header-button-text">
            <slot></slot>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['buttonText','action'],
    }
</script>
