<template>
    <div class="avatar">
        <label>
            <img :src="avatar.url">
            <input type="file" @change="avatar.validator"/>
            <errors :errors="avatar.errors"></errors>
        </label>
    </div>
</template>

<script>
    import Errors from "../../Errors";
    export default {
        props: ['avatar'],
        components: {Errors},
    }
</script>
