<template>
    <field-container :field="field" classes-prop="phone">
        <input
            type="tel"
            :placeholder="field.placeholder"
            :value="field.value"
            @input="(ev) => field.validator(ev.target.value)"
            v-mask="'8-###-###-##-##'"
        />
    </field-container>
</template>

<script>
    import {field} from "../../../../mixins/forms/standart/field";
    export default {
        mixins: [field]
    }
</script>
