<template>
    <div :class="'field-rp field '+ classesProp + ' ' + classValidateStatus">
        <slot/>
        <errors v-if="errorsIsset" :errors="errorsValues"/>
    </div>
</template>

<script>
    import {fieldContainer} from "../../../../mixins/forms/standart/fieldContainer";

    export default {
        mixins: [fieldContainer],
    }
</script>
