<template>
    <field-container :field="field" classes-prop="password">
        <div class="password-with-icon">
            <input type="password" :placeholder="fieldPlaceholder" :value="field.value"
                   @input="(ev) => field.validator(ev.target.value)">
            <i class="fas fa-eye-slash"></i>
        </div>
    </field-container>
</template>

<script>
    import {field} from "../../../../mixins/forms/standart/field";

    export default {
        mixins: [field]
    }
</script>
