<template>
    <field-container :field="field" classes-prop="avatar">
        <label>
            <img :src="field.url">
            <input type="file" @change="(event) => field.validator(event.target.files[0])"/>
        </label>
    </field-container>
</template>

<script>
    import {field} from "../../../../mixins/forms/standart/field";
    export default {
        mixins: [field]
    }
</script>
