<template>
    <field-container :field="field" classes-prop="text">
        <input class="field-confirmation-code" type="tel" :placeholder="field.placeholder" :value="field.value"
               maxlength="7"
               @input="(ev) => field.validator(ev.target.value)"
               v-mask="'#-#-#-#'"/>
    </field-container>
</template>

<script>
    import {field} from "../../../../mixins/forms/standart/field";

    export default {
        mixins: [field]
    }
</script>

