<template>
    <field-container :field="field" classes-prop="text">
        <input type="text" :placeholder="field.placeholder" :value="field.value" @input="(ev) => field.validator(ev.target.value)">
    </field-container>
</template>

<script>
    import {field} from "../../../../mixins/forms/standart/field";

    export default {
        mixins: [field]
    }
</script>

