<template>
    <div class="errors-container" v-if = "errors.length > 0">
        <div class="error" v-for="(value, i) in errors" :key="i">{{value}}</div>
    </div>
</template>

<script>
    export default {
        props: ['errors']
    }
</script>
