<template>
    <div class="waiter-container" >
        <waiter/>
        <div class="waiter-background" :style = "'background:'+backgroundColor"></div>
    </div>
</template>

<script>
    import Waiter from "./Waiter";

    export default {
        components: {
            Waiter
        },
        props: {
            backgroundColor: {
                type: String,
                default: 'white'
            },
        }
    }
</script>
