<template>
    <div :class="'field-rp form-field '+ classesProp + ' ' + classValidateStatus">
        <div class="form-field__container">
            <slot/>
            <div v-if="edit" class="form-field__buttons">
                <i class="form-field__outer-element fas fa-times" @click="editMode"></i>
                <button class="form-field__button-request" @click="confirm">Потвердить</button>
            </div>
            <div v-else class="form-field__buttons">
                <i class="form-field__outer-element fas fa-pencil-alt" @click="editMode"></i>
            </div>
            <div v-if="validateError"
                 class="form-field__inside-element form-field__status-validate form-field__status-validate_error">
                <i class=" fas fa-times"></i>
            </div>
            <div v-if="validateSuccess"
                 class="form-field__inside-element form-field__status-validate form-field__status-validate_success">
                <i class="fas fa-check"></i>
            </div>
        </div>
        <div class="form-field__errors">
            <errors v-if="errorsIsset" :errors="errorsValues"/>
        </div>
    </div>
</template>

<script>
    import {fieldContainer} from "../../../../mixins/forms/solofield/fieldContainer";

    export default {
        mixins: [fieldContainer],
    }
</script>
