<template>
    <div class="page-create-update-room__block">
        <div class="left">
            <slot name="left"/>
        </div>
        <div class="right">
            <slot name="right"/>
        </div>
    </div>
</template>
