<template>
    <div class="page-create-update-room">
        <block class="page-create-update-room__field-up">
            <template v-slot:right>
                <div class="middle-warning page-create-update-room__warning">
                    <red-star/>
                    — звёздочкой отмечены обязательны поля для заполнения
                </div>
            </template>
        </block>
        <block class="page-create-update-room__field-up">
            <template v-slot:left>
                <p class="page-create-update-room__field-title">Заголовок
                    <red-star/>
                </p>
            </template>
            <template v-slot:right>
                <field-input-text :field="formCreateUpdateRoom.name"/>
            </template>
        </block>
        <block class="page-create-update-room__field-center">
            <template v-slot:left>
                <p class="page-create-update-room__field-title">Фотографии
                    <red-star/>
                </p>
            </template>
            <template v-slot:right>
                <label for="photos" class="page-create-update-room__label-miniatures">
                    <div class="page-create-update-room__note page-create-update-room__field-template1" v-cloak
                         @drop.prevent="uploadPhotos" @dragover.prevent>
                        <div class="page-create-update-room__note-title">
                            Перетащите фото в эту область или загрузите файлы с устройства
                        </div>
                        <div class="page-create-update-room__note-middle-container">
                            <i class="page-create-update-room__note-image far fa-image"></i>
                            <div class="page-create-update-room__note-bold-text">
                                Выбрать файлы
                            </div>
                        </div>
                    </div>
                </label>
                <input type="file" id="photos" @change="uploadPhotos" style="display:none" multiple>
            </template>
        </block>
        <block class="page-create-update-room__field-up">
            <template v-slot:left>
                <b class="page-create-update-room__photo-requirements">Требования к фотографиям:</b>
                <ul class="page-create-update-room__list">
                    <li>
                        Отсутствие на них знаков других сайтов (авито, циан, из рук в руки)
                    </li>
                    <li>
                        Наличие на них квартиры или комнаты
                    </li>
                    <li>
                        Приемлемый размер (не менее 800px)
                    </li>
                    <li>
                        Несколько четких фотографий на которых хорошо видно комнаты, кухню, ванную и тд
                    </li>
                </ul>
            </template>
            <template v-slot:right>
                <ul class="page-create-update-room__miniatures">
                    <li v-for="(photo, index) in formCreateUpdateRoom.photos.items"
                        class="page-create-update-room__miniature">
                        <img :src="photo.url" class="page-create-update-room__miniature-image"/>
                        <img class="page-create-update-room__miniature-button" :src="getAbsoluteUrl('img/trash.png')"
                             @click="removeImage(index)"/>
                    </li>
                </ul>
                <errors v-if="errorsPhotosIsset" :errors="errorsPhotos"/>

                <span class="page-create-update-room__black-text">Загрузите минимум одно изображение</span>
                <red-star/>
            </template>
        </block>

        <div class="">
            <div class="">

            </div>
            <div class="">
                <button class = "" @click="requestRoom">Дальше</button>
            </div>
        </div>

    </div>
</template>

<script>
    import Errors from "../../general/Errors";
    import FieldInputText from "../../general/form/solofield/FieldInputText";
    import FieldInputPhone from "../../general/form/solofield/FieldInputPhone";
    import FieldInputPassword from "../../general/form/standart/FieldInputPassword";
    import RedStar from "../../general/RedStar";
    import Trash from "../../general/svg/Trash";
    import {form as formStandart} from "../../../mixins/forms/standart/form";
    import Block from "./Block";
    import {getAbsoluteUrl} from "../../../helpers/general";
    import {checkFileImage} from "../../../helpers/form";
    import {
        REQUEST_STATUS__ERROR,
        REQUEST_STATUS__NOT_PUSH,
        REQUEST_STATUS__PUSH,
        REQUEST_STATUS__SUCCESS
    } from "../../../mixins/forms/main";
    // import {checkFileImage} from "../../helpers/form";

    export default {
        data: function () {
            return {
                formCreateUpdateRoom: {
                    photos: {
                        items: [],
                        frontendErrors: {},
                        backendErrors: []
                    },
                    name: this.createFieldForm('Введите заголовок', this.validatorName),
                },
                updateMode: false
            }
        },

        mixins: [formStandart],

        components: {
            FieldInputText, FieldInputPassword, FieldInputPhone, Block, RedStar, Trash, Errors
        },

        inject: ['getAbsoluteUrl', 'getUrlDefaultImage', 'getUrlImage1'],

        computed: {
            errorsPhotosIsset: function () {
                return this.photosFrontendErrors.length > 0 || this.formCreateUpdateRoom.photos.backendErrors.length > 0;
            },
            errorsPhotos: function () {
                return this.photosFrontendErrors.concat([...this.formCreateUpdateRoom.photos.backendErrors]);
            },
            photosFrontendErrors() {
                return Object.values(this.formCreateUpdateRoom.photos.frontendErrors).filter(function (el) {
                    return el !== null;
                });
            },
        },

        mounted: function () {
            let count = (window.location.href.match(/update/g) || []).length;
            if (count > 0) this.updateMode = true;
        },

        methods: {
            uploadPhotos(e) {
                var files = e.target.files || e.dataTransfer.files;
                if (!files.length)
                    return;
                this.addPhotos(files);
            },
            addPhotos(files) {
                var vm = this;
                var dimensions = [];
                for (var i = 0; i < files.length; ++i) {
                    var file = files[i];
                    dimensions.push(new Promise(function (resolve, reject) {
                        if (checkFileImage(file)) {
                            var src = URL.createObjectURL(file);
                            var img = new Image;
                            img.onload = function (event) {
                                var obj = {url: src, file, img};
                                vm.formCreateUpdateRoom.photos.items.push(obj);
                                resolve(obj);
                            };
                            img.src = src;
                        } else vm.formCreateUpdateRoom.photos.items.push({url: null, file: null, img: null});
                    }));
                }
                Promise.all(dimensions).then(function (dims) {
                    vm.validatorPhotos();
                }).catch(function (errdims) {
                    //console.log(errdims);
                })
            },
            removeImage(index) {
                this.formCreateUpdateRoom.photos.items.splice(index, 1);
                this.validatorPhotos();
            },

            validatorPhotos() {
                let photosClone = {...this.formCreateUpdateRoom.photos};
                photosClone.frontendErrors = {};
                if (photosClone.items.length > 0)
                photosClone.items.forEach(element => {
                    if (checkFileImage(element.file)) {
                        if (element.img.width < 800) photosClone.frontendErrors.dimensionImage = 'Разрешение изображений должно быть не меньше 800';
                        if (element.file.size > 1000000) photosClone.frontendErrors.sizeFile = 'Размер изображений должен быть не больше 1МБ';
                    } else photosClone.frontendErrors.notImage = 'Все файлы должны быть картинками';
                }); else photosClone.frontendErrors.minPhotos = 'Загрузите хотя бы 1 картинку';
                this.formCreateUpdateRoom.photos = photosClone;
            },

            validatorName(value) {
                let $this = this;
                this.formCreateUpdateRoom.name = this.changeFieldWithValidate(this.formCreateUpdateRoom.name, value, (field) => {
                    $this.validateFieldRequired(field);
                    $this.validateTextFieldMinLength(field, 5);
                    $this.validateTextFieldMaxLength(field, 40);
                });
            },

            validateForm() {
                this.validatorPhotos();
                this.validatorName(this.formCreateUpdateRoom.name.value);
            },

            requestRoom() {
                let $this = this, url = 'create';
                if (this.updateMode) url = 'update';
                this.requestForm(
                    'formCreateUpdateRoom',
                    this.getAbsoluteUrl('rooms/' + url),
                    this.validateForm
                );
            }
        }
    }
</script>
